{% extends './base.html' %}

{% import './components/stat_entry.html' as stat_entry %}
{% import './blocks/modal.html' as modal %}

{% block title %}Node Panel - {{ node.host|e }}:{{ node.port }}{% endblock %}

{% block head %}
<script src='/static/js/containerize.js'></script>
<script src='/static/js/cluster_task.js'></script>
<script src='/static/js/redis_node.js'></script>
<style>
.cluster-display { display: none }
.ready-display { display: none }
.serving-display { display: none }
.serving-master-display { display: none }
.serving-slave-display { display: none }
.cluster-inconsistent-actually-serving { display: none }
.cluster-inconsistent-actually-ready { display: none }
.standalone-display { display: none }

.cluster-mode .cluster-display { display: block }
.ready-mode .ready-display { display: block }
.serving-mode .serving-display { display: block }
.serving-master-mode .serving-master-display { display: block }
.serving-slave-mode .serving-slave-display { display: block }
.serving-master-mode table.serving-master-display { display: table }
.cluster-inconsistent-actually-serving-mode .cluster-inconsistent-actually-serving { display: block }
.cluster-inconsistent-actually-ready-mode .cluster-inconsistent-actually-ready { display: block }
.standalone-mode .standalone-display { display: block }
</style>
{% endblock %}

{% block body %}
<script>
function resetModes() {
    $('body').removeClass('cluster-mode ready-mode serving-mode standalone-mode');
}

function addMode(m) {
    $('body').addClass(m + '-mode');
}
</script>

<div class='form-horizontal dl-hori'>
    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-primary dt-50' data-localize='address'>Address</div>
            <div class='dd'>{{ node.host|e }}:{{ node.port }}</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='status' id='redis-status'>Status</div>
            <div class='dd'>...</div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-info dt-50'>INFO</div>
            <div class='dd dd-no-border'>
                {{ stat_entry.stat_icon('redis', node.host, node.port, bar_after=True) }}

                <a href='javascript:refreshInfo()'>{{ icon('refresh') }}</a>
                |
                <a href='javascript:;' data-toggle='modal' data-target='#redis-info-text'>{{ icon('file-text') }}</a>
                |
                <a href='javascript:;' data-toggle='modal' data-target='#redis-setting-modal'>{{ icon('cog') }}</a>
            </div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='version'>Version</div>
            <div class='dd' id='det_redis_version'>-</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' id='memory-usage' data-localize='node-memory-usage'>Memory</div>
            <div class='dd'>
                <span id='det_used_memory'>0</span>
                <span id='node-max-memory'></span>
            </div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='keys-hits'>Keyspace hits</div>
            <div class='dd' id='det_keyspace_hits'>0</div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='cpu-user'>CPU User</div>
            <div class='dd' id='det_used_cpu_user'>0</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='mem-rss'>Memory RSS</div>
            <div class='dd' id='det_used_memory_rss'>0</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='keys-misses'>Keyspace misses</div>
            <div class='dd' id='det_keyspace_misses'>0</div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='cpu-sys'>CPU Sys</div>
            <div class='dd' id='det_used_cpu_sys'>0</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='keys-count'>Keys</div>
            <div class='dd' id='det_db0'>0</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='keys-expired'>Expired keys</div>
            <div class='dd' id='det_expired_keys'>0</div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='uptime'>Uptime</div>
            <div class='dd' id='det_uptime_in_seconds'>0</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='aof-enabled'>AOF</div>
            <div class='dd' id='det_aof_enabled'>-</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='keys-evicted'>Evicted keys</div>
            <div class='dd' id='det_evicted_keys'>0</div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='commands-processed'>Commands Processed</div>
            <div class='dd' id='det_total_commands_processed'>0</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='connected-clients'>Clients</div>
            <div class='dd' id='det_connected_clients'>0</div>
        </div>
    </div>

    {%- if node.containerized %}
    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-info dt-50' data-localize='containerize'>Containerize</div>
            <div class='dd'>{{ icon('cube') }}</div>
        </div>

        {%- if node.container_info and not node.container_info.is_alive %}
        <div class='col-xs-2'>
            <button class='btn btn-info btn-block btn-revive-container' data-cid='{{ node.eru_container_id|e }}' data-localize='btn-revive'>Revive</button>
        </div>
        {%- endif %}
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='container-id'>Container ID</div>
            <div class='dd' style='font-family: monospace'>{{ node.eru_container_id[:16]|e }}</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='creation'>Creation</div>
            <div class='dd'>{{ node.container_info.created|e if node.container_info else '-' }}</div>
        </div>

        <div class='col-xs-4'>
            <div class='dt dt-default' data-localize='host-address'>Host Addr</div>
            <div class='dd'>{{ node.container_info.host|e if node.container_info else '-' }}</div>
        </div>
    </div>
    {% else %}
    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-default dt-50' data-localize='containerize'>Containerize</div>
            <div class='dd'>{{ icon('times-circle') }}</div>
        </div>
    </div>
    {%- endif %}

    <div class='form-group'>
        <div class='col-xs-4'>
            <div class='dt dt-info dt-50' data-localize='cluster'>CLUSTER</div>
            <div class='dd' id='det_cluster_enabled'>-</div>
        </div>
    </div>

    <div class='cluster-display'>
        <div class='form-group'>
            <div class='col-xs-4'>
                <div class='dt dt-default' data-localize='cluster-status'>Status</div>
                <div class='dd' id='cluster-status'>-</div>
            </div>

            <div class='col-xs-4'>
                <div class='dt dt-default' data-localize='role'>Role</div>
                <div class='dd' id='det_role'>-</div>
            </div>

            <div class='col-xs-4'>
                <div class='dt dt-default' data-localize='slots-num'>Slots</div>
                <div class='dd' id='slots-num'>-</div>
            </div>
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-4'>
        {%- if node.assignee_id is not none %}
            <div class='dt dt-default' data-localize='serving-in-cluster'>Serving in</div>
            <div class='dd'>
                <a target='_black' href='/cluster/panel/{{ node.assignee_id }}'>{{ node.assignee.description }} {{ icon('external-link') }}</a>
            </div>
        {%- else %}
            <div class='control-label cluster-inconsistent-actually-serving'><span data-localize='need-autodiscover'></span> ==&gt;</div>
        {%- endif %}
        </div>
        {{ button('Auto discover', size=2, offset=6, cls=['btn-block', 'cluster-display'], data={'toggle': 'modal', 'target': '#clusterAutoDiscover'}, lcl='btn-autodiscover') }}
    </div>
</div>

{% autoescape false %}
    {{ render('components/node/autodiscover.html', host=node.host, port=node.port) }}
{% endautoescape %}

<div class='panel panel-default cluster-display'>
    <div class='panel-heading panel-heading-hide-content'>CLUSTER NODES</div>
    <div class='form-horizontal'>
        <div class='form-group'>
            <div class='col-xs-3 text-center' data-localize='node-id'>Node ID</div>
            <div class='col-xs-2' data-localize='address'>Address</div>
            <div class='col-xs-2' data-localize='role'>Role</div>
            <div class='col-xs-5' data-localize='slots'>Slots</div>
        </div>
        <div id='cluster-nodes' class='form-horizontal'></div>
    </div>
</div>

<script>
-function() {
    window.redis_status = {
        text: '',
        memory: 0,
        maxmemory: 0,
        items: null,
        assigned: {{ (node.assignee_id is not none)|tojson }},

        cluster_slave: false,
        cluster_serving: false,
        cluster_masters: [],
        slots: [],

        host: {{ node.host|tojson }},
        port: {{ node.port|tojson }}
    };

    function formatInt(s) {
        return parseInt(s).toLocaleString();
    }

    function formatSize(s) {
        return Math.round((parseInt(s) / 1000000)) + 'M'
    }

    function enabled(s, k) {
        if (redis_status[k] = s === '1') {
            $('#det_' + k).dtSetScheme('info');
        } else {
            $('#det_' + k).dtResetDefault();
        }
        return redis_status[k] ? _('enabled') : _('disabled');
    }

    var specialProps = {
        total_commands_processed: formatInt,
        connected_clients: formatInt,
        uptime_in_seconds: formatInt,
        used_memory: function(m) {
            redis_status.memory = m;
            colorMemoryCard();
            var mem = formatSize(m);
            $('#used-memory-mbyte').text(mem);
            return mem;
        },
        used_memory_rss: formatInt,
        keyspace_hits: formatInt,
        keyspace_misses: formatInt,
        expired_keys: formatInt,
        evicted_keys: formatInt,
        aof_enabled: enabled,
        cluster_enabled: enabled,
        role: _,
        db0: function(s) {
            var p = s.split(',');
            if (p.length === 0) {
                return 0;
            }
            return formatInt(parseInt(p[0].split('=')[1]));
        }
    };

    function colorMemoryCard() {
        if (redis_status.memory && redis_status.maxmemory) {
            redis_status.mem_rate = redis_status.memory / redis_status.maxmemory;
            $('#memory-load-rate').text((redis_status.mem_rate * 100).toFixed(2));
            var cls = 'success';
            if (redis_status.mem_rate > 0.9) {
                cls = 'danger';
            } else if (redis_status.mem_rate > 0.7) {
                cls = 'warning';
            }
            $('#memory-usage').dtSetScheme(cls);
        } else {
            $('#memory-usage').dtResetDefault();
        }
    }

    window.refreshInfo = function() {
        resetModes();
        $('#cluster-status').dtResetDefault();
        $('#redis-status').dtResetDefault().next().text('...');
        cmdInfo(redis_status.host, redis_status.port, function(t) {
            $('#redis-info-textarea').val(t);
            redis_status.text = t;
            $('#redis-status').removeClass('dt-default').addClass('dt-success').next().text(_('Connected'));
        }, function(blocks) {
            $('#det_db0').text('0');
            $.each(blocks, function(_, e) {
                for (var i = 0; i < e.items.length; ++i) {
                    var item = e.items[i];
                    var f = specialProps[item.key];
                    $('#det_' + item.key).text(f ? f(item.value, item.key) : item.value);
                }
            });
            if (redis_status.cluster_enabled) {
                addMode('cluster');
                refreshClusterNodes();
            } else {
                addMode('standalone');
            }
        }, function(e) {
            $('#redis-status').removeClass('dt-default').addClass('dt-danger').next().text(_(e.responseJSON.reason));
        });
        cmdGetMaxMemory(redis_status.host, redis_status.port, function(m) {
            var mem = formatSize(m);
            $('#max-mem-mbyte').text(mem);
            $('#node-max-memory').text('/ ' + mem);
            redis_status.maxmemory = m;
            colorMemoryCard();
        }, function() {}, function() {});
    };

    function refreshClusterNodes() {
        var body = $('#cluster-nodes').html('');

        function appendNode(n, extra_char) {
            body.append(bscp.row()
                            .append(bscp.grid(3).addClass('text-center').append(bscp.label(n.node_id, n.slave ? 'warning' : 'info')))
                            .append(bscp.grid(2).text(extra_char + ' ' + n.address + ' ').append(n.myself && n.migrating ? bscp.btn(_('Fix migrating'), 'warning', 'btn-xs')
                                                                                                                               .click(taskFixMigrating)
                                                                                                                               .data({host: n.host, port: n.port})
                                                                                                                         : ''))
                            .append(bscp.grid(2).append(rolesLabels(n.flags)))
                            .append(bscp.grid(5).text(n.slots_text))
            );
        }

        $.get('/cmd/cluster_nodes', {host: redis_status.host, port: redis_status.port}, function(r) {
            redis_status.cluster_masters = redisRelations(parseClusterNodes(r));
            if (redis_status.cluster_masters.length > 1) {
                redis_status.cluster_serving = true;
            }
            $.each(redis_status.cluster_masters, function(_, n) {
                appendNode(n, '');
                if (n.slots.length > 0) {
                    redis_status.cluster_serving = true;
                }
                if (n.myself) {
                    $('#slots-num').text(n.slots.length);
                    redis_status.slots = n.slots;
                    redis_status.cluster_slave = false;
                }
                n.slaves.sort(sortNodeByAddr);
                $.each(n.slaves, function(i, s) {
                    if (s.myself) {
                        redis_status.cluster_slave = true;
                    }
                    appendNode(s, i === n.slaves.length - 1 ? '└' : '├');
                });
            });
            if (redis_status.cluster_serving) {
                $('#cluster-status').text(_('serving')).dtSetScheme('primary');
                addMode(redis_status.cluster_slave ? 'serving-slave' : 'serving-master');
            } else {
                $('#cluster-status').text(_('ready')).dtSetScheme('success');
            }

            if (redis_status.cluster_serving && redis_status.assigned) {
                addMode('serving');
                updateMigratingForms();
            }
            if (redis_status.cluster_serving && !redis_status.assigned) {
                addMode('cluster-inconsistent-actually-serving');
            }
            if ((!redis_status.cluster_serving) && redis_status.assigned) {
                addMode('cluster-inconsistent-actually-ready');
            }
            if ((!redis_status.cluster_serving) && (!redis_status.assigned)) {
                addMode('ready');
            }
        });
    }
    window.refreshInfo();
}();
</script>

{% call modal.modal('redis-info-text', 'INFO', '') %}
<textarea id='redis-info-textarea' style='min-height: 400px; font-family: monospace' class='form-control'></textarea>
{% endcall %}

{% call modal.modal('redis-setting-modal', 'Settings', 'settings') %}
<div class='form-horizontal'>
    <div class='form-group dl-hori'>
        <div class='col-xs-6'>
            <div class='dt dt-default dt-50' data-localize='max-memory-setting'>Max Memory Setting</div>
            <div class='dd'><span id='used-memory-mbyte'>-</span> / <span id='max-mem-mbyte'>-</span> (MB)</div>
        </div>
        <div class='col-xs-5' style='padding-top: 7px'>
            <span id='max-mem-slide' style='display: inline-block; margin: 0 8px 0 8px; width: 100%;'></span>
        </div>
        <div class='col-xs-1 control-label'>
            <span id='memory-load-rate'>-</span>%
        </div>
    </div>

    <div class='form-group'>
        <div class='col-xs-1 control-label'>AOF</div>
        {{ checkbox('', size=1, color='info', id='setting-aof-enabled') }}
    </div>

    <div class='form-group'>
        <div class='col-xs-2'>
            <button type='button' disabled='disabled' class='btn btn-primary btn-block' id='redis-setting-confirm' data-localize='confirm'>Confirm</button>
        </div>
    </div>
</div>
{% endcall %}

<script>
$('#redis-setting-modal').on('show.bs.modal', function(event) {
    if (!redis_status.text) {
        return;
    }
    if ($('#redis-setting-modal').data('initialized')) {
        return;
    }
    $('#redis-setting-modal').data('initialized', 1)

    $('#max-mem-slide').slider({
        range: 'min',
        min: Math.max(Math.ceil(redis_status.memory / 1000000), 100),
        max: {{ max_mem_limit|tojson }} / 1000000,
        value: Math.ceil(redis_status.maxmemory / 1000000),
        slide: function(event, ui) {
            $('#max-mem-mbyte').text(ui.value);
            $('#memory-load-rate').text((redis_status.memory / ui.value / 10000).toFixed(2));
        },
        change: function(event, ui) {
            $(this).data('value', ui.value);
        }
    }).data('value', Math.ceil(redis_status.maxmemory / 1000000));
    if (redis_status.aof_enabled) {
        $('#setting-aof-enabled').addClass('check-group-checked');
    }
    $('#setting-aof-enabled').enableLabelCheck();

    $('#redis-setting-confirm').removeAttr('disabled').click(function() {
        var await = 0;
        function onSuccess() {
            if (--await === 0) {
                refreshInfo();
                $('#redis-setting-modal').modal('hide');
            }
        }

        var maxmem = $('#max-mem-slide').data('value') * 1000000;
        if (maxmem !== redis_status.maxmemory) {
            ++await;
            $.ajax({
                url: '/cmd/set_max_mem',
                type: 'POST',
                data: {
                    host: redis_status.host,
                    port: redis_status.port,
                    max_mem: maxmem
                },
                success: function() {
                    redis_status.maxmemory = maxmem;
                    $('#node-max-memory').text('/ ' + $('#max-mem-slide').data('value') + 'MB');
                    onSuccess();
                },
                error: function(r) {
                    console.error('set maxmemory:', r);
                    alert(_('failed') + ': ' + r.responseText);
                }
            });
        }
        var aof = $('#setting-aof-enabled').prop('checked');
        if (redis_status.aof_enabled != aof) {
            ++await;
            $.ajax({
                url: '/cmd/set_aof',
                type: 'POST',
                data: {
                    host: redis_status.host,
                    port: redis_status.port,
                    aof: aof ? 'y' : 'n'
                },
                success: function() {
                    redis_status.aof_enabled = aof;
                    $('#det_aof_enabled').text(aof ? _('enabled') : _('disabled'));
                    onSuccess();
                },
                error: function(r) {
                    console.error('set aof:', r);
                    alert(_('failed') + ': ' + r.responseText);
                }
            });
        }
        ++await;
        onSuccess();
    });
});
</script>

<div class='form-horizontal'>
    <div class='form-group'>
        {{ checkbox('Disable alarm', size=2, color='danger', cls=['check-suppress-alert', 'btn-block'], checked=node.suppress_alert, data={'ntype': 'redis', 'host': node.host, 'port': node.port}, lcl='btn-disable-alarm') }}
        {{ button('Send Cmd', size=2, cls=['btn-block'], data={'toggle': 'modal', 'target': '#commandConsole', 'host': node.host, 'port': node.port}, lcl='btn-direct-command') }}

        <div class='serving-display'>
            <div class='col-xs-2'>
                <button type='button' class='btn btn-primary btn-block panel-btn' data-bind='quit-cluster' data-localize='quit-cluster'>Quit cluster</button>
            </div>
            <div class='col-xs-2'>
                <button type='button' class='btn btn-primary btn-block panel-btn serving-master-display' data-bind='migrating-slots' data-localize='migr-out-slot'>Migrate slots out</button>
            </div>
        </div>

        <div class='cluster-inconsistent-actually-ready'>
            <div class='col-xs-6'>
                <button type='button' class='btn btn-info btn-block' id='quit-cluster-force' data-localize='already-quit-message'>quit confirm</button>
            </div>
        </div>

        <div class='ready-display'>
            {{ button('Launch cluster', size=2, id='start-cluster-btn', cls=['panel-btn', 'btn-block'], data={'bind': 'start-cluster'}, lcl='start-cluster') }}
            {{ button('Join cluster', size=2, id='join-cluster-btn', cls=['panel-btn', 'btn-block'], data={'bind': 'join-cluster'}, lcl='join-cluster') }}
        </div>
    </div>
</div>

<div class='panel-div' id='quit-cluster'>
    <span class='serving-slave-display'>
        <span data-localize='im_slave'>This is a slave</span>
        <button type='button' id='quit-cluster-replica' class='btn btn-info' data-localize='confirm'>Confirm</button>
    </span>
    <table class='table serving-master-display'>
        <caption data-localize='quit-cluster-precondition'>Quit - migrate out all the slots before quit</caption>
        <thead>
            <tr>
                <th>#</th>
                <th data-localize='address'>Address</th>
                <th data-localize='slots-num'>Slots</th>
                <th data-localize='migrate-in'>Number of slots to be migrated in</th>
                <th data-localize='after-migrated'>Number of slots after migration</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan='5'>
                    <button type='button' class='btn' id='avg-migr-slots-btn' data-localize='btn-equalize'>Equalize</button>
                    <button type='button' class='btn btn-danger' id='quit-cluster-confirm' data-localize='confirm'>Confirm</button>
                    <span id='slots-remain-err' style='visibility: hidden' class='label label-warning invalid-migrating-label' data-localize='slots-remain-err'>
                        You are supposed to migrate all the slots
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class='panel-div' id='migrating-slots'>
    <table class='table serving-master-display'>
        <thead>
            <tr>
                <th>#</th>
                <th data-localize='address'>Address</th>
                <th data-localize='slots-num'>Slots</th>
                <th data-localize='migrate-in'>Number of slots to be migrated in</th>
                <th data-localize='after-migrated'>Number of slots after migration</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan='5'>
                    <button type='button' id='migrating-slots-confirm' class='btn btn-primary' data-localize='confirm'>Confirm</button>
                    <span id='insuff-slots-err' style='visibility: hidden' class='label label-warning invalid-migrating-label' data-localize='insufficient-slots'>Insufficient slots</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
function updateSlotsResult() {
    $('.invalid-migrating-label').css('visibility', 'hidden');
    $('.node-info').removeClass('has-error');

    $('.node-info').each(function() {
        var row = $(this);
        var input = row.find('input');
        var result = row.find('.slots-result');
        var inputVal = input.val().trim(), migrSlots = 0;
        if (inputVal.length !== 0) {
            migrSlots = parseInt(input.val());
            if (isNaN(migrSlots) || migrSlots < 0) {
                return row.addClass('has-error');
            }
        }

        input.val(migrSlots);
        result.text(migrSlots + row.data('slots'));
    });

    $('.node-myself').each(function() {
        var table = $(this).parent().parent();
        var slots = 0;
        table.find('input').each(function() {
            slots += parseInt($(this).val()) || 0;
        })
        $(this).find('.slots-result').text(redis_status.slots.length - slots);
    });
}

$('#avg-migr-slots-btn').click(function() {
    var input = $('#quit-cluster .node-info input');
    var forEach = Math.floor(redis_status.slots.length / input.length);
    input.each(function() {
        $(this).val(forEach);
    });
    for (var i = 0; i < redis_status.slots.length - input.length * forEach; ++i) {
        input[i].value = parseInt(input[i].value) + 1;
    }

    updateSlotsResult();
});

$('#quit-cluster-confirm').click(function() {
    updateSlotsResult();

    if (parseInt($('#quit-cluster .node-myself .slots-result').text()) != 0) {
        return $('#slots-remain-err').css('visibility', 'visible');
    }
    var btn = $(this);
    btn.attr('disabled', 'disabled');

    var migratings = [];
    var sliceStart = 0
    $('#quit-cluster .node-info').each(function() {
        var migrCount = parseInt($(this).find('input').val());
        if (!migrCount) {
            return;
        }
        migratings.push({
            host: $(this).data('host'),
            port: $(this).data('port'),
            slots: redis_status.slots.slice(sliceStart, sliceStart + migrCount)
        });
        sliceStart += migrCount;
    });

    $.ajax({
        url: '/task/quit',
        type: 'POST',
        data: JSON.stringify({
            host: redis_status.host,
            port: redis_status.port,
            migratings: migratings
        }),
        success: function() {
            return window.location.reload();
        },
        error: function(r) {
            btn.parent().text(_('failed') + ': ' + r.responseText);
        }
    });
});

$('#quit-cluster-force').click(function() {
    var btn = $(this).attr('disabled', 'disabled');
    $.ajax({
        url: '/task/quit',
        type: 'POST',
        data: JSON.stringify({
            host: redis_status.host,
            port: redis_status.port,
            migratings: [],
        }),
        success: function() {
            return window.location.reload();
        },
        error: function(r) {
            btn.text(_('failed') + ': ' + r.responseText);
        }
    });
});

$('#migrating-slots-confirm').click(function() {
    updateSlotsResult();

    var errorInput = $('#migrating-slots .has-error input');
    if (errorInput.length > 0) {
        return $(errorInput[0]).focus();
    }

    if (parseInt($('#migrating-slots .node-myself .slots-result').text()) < 0) {
        return $('#insuff-slots-err').css('visibility', 'visible');
    }
    var btn = $(this);
    btn.attr('disabled', 'disabled');

    var sliceStart = 0
    $('#migrating-slots .node-info').each(function() {
        var migrCount = parseInt($(this).find('input').val());
        if (!migrCount) {
            return;
        }

        $.ajax({
            url: '/task/migrate_slots',
            type: 'POST',
            data: {
                src_host: redis_status.host,
                src_port: redis_status.port,
                dst_host: $(this).data('host'),
                dst_port: $(this).data('port'),
                slots: redis_status.slots.slice(sliceStart, sliceStart + migrCount).join(',')
            },
            success: function() {
                return window.location.reload();
            },
            error: function(r) {
                btn.parent().text(_('failed') + ': ' + r.responseText);
            }
        });
        sliceStart += migrCount;
    });
});

$('#quit-cluster-replica').click(function() {
    var btn = $(this).attr('disabled', 'disabled');
    $.ajax({
        url: '/task/quit',
        type: 'POST',
        data: JSON.stringify({
            host: redis_status.host,
            port: redis_status.port,
            migratings: [],
        }),
        success: function() {
            return window.location.reload();
        },
        error: function(r) {
            btn.text(_('failed') + ': ' + r.responseText);
        }
    });
});

function updateMigratingForms() {
    function nodeRow(i, node) {
        return $('<tr>').addClass('node-info').addClass('form-group').data('host', node.host).data('port', node.port).data('slots', node.slots.length
            ).append($('<td>').text(i)
            ).append($('<td>').text(node.host + ':' + node.port)
            ).append($('<td>').text(node.slots.length)
            ).append($('<td>').append($('<input>').addClass('form-control'))
            ).append($('<td>').addClass('slots-result').text(node.slots.length)
            );
    }

    function nodeMyself(i, node) {
        return $('<tr>').addClass('node-myself'
            ).append($('<td>').text(i)
            ).append($('<td>').text(node.host + ':' + node.port)
            ).append($('<td>').text(node.slots.length)
            ).append($('<td>').text(_('Myself'))
            ).append($('<td>').addClass('slots-result').text(node.slots.length)
            );
    }

    function addNodesToTable(t, nodes) {
        $.each(nodes, function(i, node) {
            if (node.host === redis_status.host && node.port === redis_status.port) {
                t.append(nodeMyself(i, node));
            } else {
                t.append(nodeRow(i, node));
            }
        });
        return t;
    }

    if (redis_status.cluster_slave) {
        return;
    }

    addNodesToTable($('#quit-cluster tbody').html(''), redis_status.cluster_masters);
    addNodesToTable($('#migrating-slots tbody').html(''), redis_status.cluster_masters);

    if (redis_status.cluster_masters.length === 1) {
        $('#quit-cluster button').attr('disabled', 'disabled');
        $('#migrating-slots button').attr('disabled', 'disabled');
    }

    $('.node-info input').blur(updateSlotsResult);
}
</script>

<div class='panel-div' id='start-cluster'>
    <span data-localize='cluster-description'>Cluster description</span>: <input class='form-control' style='width: 400px; display: inline-block' id='start-cluster-descr'>
    <button class='btn btn-primary' id='start-cluster-confirm' data-localize='start-cluster'>Launch</button>
</div>

<div class='panel-div' id='join-cluster'>
    <span id='loading-cluster-list' data-localize='loading-cluster-list'></span>...
    <select id='select-cluster' data-select-style='select-default'>
        <option value='' data-localize='select-cluster'>Select cluster</option>
    </select>
    <button class='btn btn-primary' id='join-cluster-confirm' data-localize='join-cluster-confirm'>Join as master</button>
    -- <span data-localize='or'>or</span> --
    <select id='select-master' data-select-style='select-default' data-localize='select-master' data-default-text='Select master'>Select master</select>
    <button class='btn btn-primary' id='replicate-confirm' data-localize='replicate-confirm'>Replicate as slave</button>
</div>

<script>
$('#select-cluster').enableLabelSelect({width: 360});
$('#select-master').enableLabelSelect({width: 220});

var local = {
    loadingClusterList: false,
    clusterList: null,
    clusterMasters: {}
};

$('#start-cluster-confirm').click(function() {
    if ($('#start-cluster-descr').val().length === 0) {
        return $('#start-cluster-descr').focus();
    }
    var btn = $(this);
    btn.attr('disabled', 'disabled');
    createAndLaunchCluster($('#start-cluster-descr').val(), [{
        host: {{ node.host|tojson }},
        port: {{ node.port|tojson }},
    }], function(e, r) {
        if (e) {
            console.error(e);
            return alert(_('failed') + ': ' + e.responseText);
        }
        window.location = '/cluster/panel/' + r;
    })
});

$('#join-cluster-btn').click(function() {
    if (local.loadingClusterList) {
        return;
    }
    local.loadingClusterList = true;

    $.ajax({
        url: '/cluster/list',
        type: 'GET',
        success: function(r) {
            $('#loading-cluster-list').remove();
            local.clusterList = r;
            for (var i in r) {
                var cluster = r[i];
                $('#select-cluster').append($('<option>')
                    .text([cluster.descr, '-', cluster.nodes].join(' '))
                    .val(cluster.id)
                    .data('index', i));
            }
            $('#select-cluster').enableLabelSelect({
                itemWidth: 360,
                onChange: function(clusterId, select) {
                    var cluster = local.clusterMasters[clusterId];
                    if (cluster) {
                        return fillMasterNodesTo(cluster);
                    }

                    $.ajax({
                        url: '/cmd/get_masters',
                        type: 'GET',
                        data: local.clusterList[select.find(':selected').data('index')].node0,
                        success: function(r) {
                            var nodes = r.masters.sort(sortNodeByAddr)
                            local.clusterMasters[clusterId] = nodes;
                            if (select.val() === clusterId) {
                                fillMasterNodesTo(nodes);
                            }
                        },
                        error: function(r) {
                            console.error(r);
                            alert(_('failed') + ': ' + r.responseText);
                        }
                    });
                }
            });
        },
        error: function(r) {
            $('#loading-cluster-list').text(_('failed') + ': ' + r.responseText);
        }
    });
});

function fillMasterNodesTo(cluster) {
    $('#select-master').html('').append(cluster.map(function(e) {
        return $('<option>').text([e.host, ':', e.port].join('')).val(JSON.stringify({host: e.host, port: e.port}));
    })).enableLabelSelect({itemWidth: 220});
}

$('#join-cluster-confirm').click(function() {
    var btn = $(this);
    var clusterId = parseInt($('#select-cluster').val());
    if (isNaN(clusterId)) {
        return;
    }
    $('#join-cluster button').attr('disabled', 'disabled');
    btn.text(_('Please wait'));
    joinTask(clusterId, [{host: {{ node.host|tojson }}, port: {{ node.port|tojson }} }], function(e) {
        if (e) {
            return btn.parent().text(_('failed') + ': ' + e.responseText);
        }
        window.location.reload();
    });
});

$('#replicate-confirm').click(function() {
    var opt = JSON.parse($('#select-master').val());
    if (!(opt && opt.host)) {
        return;
    }
    $('#join-cluster button').attr('disabled', 'disabled');
    var btn = $(this);
    btn.text(_('Please wait'));
    replicateTask(opt.host, opt.port, {{ node.host|tojson }}, {{ node.port|tojson }}, function(e) {
        if (e) {
            console.error(e);
            btn.parent().text(_('failed') + ': ' + e.responseText);
        } else {
            window.location.reload();
        }
    });
});

$(document).ready(function() {
    $('.panel-div').hide();
    $('.panel-btn').click(function() {
        $('.panel-div').hide();
        $('#' + $(this).data('bind')).show();
    });
});
</script>
{% autoescape false %}
    {{ render('components/command_console.html') }}
{% endautoescape %}

{% include 'components/info_console.html' %}
{% endblock %}
