<div class='card card-root'>
    {% set proxy = cluster.proxies[0] if cluster.proxies else none %}
    <span class='card-title' id='cluster-{{ cluster.id }}'>
        集群 #{{ cluster.id }}
        {% if cluster.balance_plan_detail %}<i class='fa fa-sitemap'></i>{% endif %}
        {% if cluster.current_task %}<i class='fa fa-wrench'></i>{% endif %}
    </span>
    <a href='/clusterp/{{ cluster.id }}' style='float: right; margin-top: -9px' class='btn btn-info card-detailonly'>集群控制面板</a>
    <table class='card-preview table'>
        <tr>
            <td class='label-cell'>描述</td>
            <td><span card-detailto='cluster-descr'>{{ cluster.description|e or '<i>没有描述</i>' }}</span></td>
        </tr>
        <tr>
            <td class='label-cell'>节点数</td>
            <td>{{ cluster.nodes|length }}</td>
        </tr>
        {% if cluster.proxies %}
        <tr>
            <td colspan='2'>
                <div card-detailto='cluster-proxy'>
                    {% for proxy in cluster.proxies %}
                    <div class='proxy-in-card alert-status-root {{ '' if proxy.suppress_alert else 'alert-enabled' }}'>
                        <div>
                            <span class='label-cell'>代理</span>
                            <span>{{ proxy|render_proxy('label') }}</span>
                        </div>
                        <div class='card-detailonly'>
                            <span class='label-cell'>版本</span>
                            <span>{{ proxy.detail.version|e }}</span>
                        </div>
                        <div>
                            <span class='label-cell'>SLA</span>
                            <span>
                                {{ (proxy.detail.sla * 100)|round(2) if proxy.detail.sla else '- ' }}%
                                <span class='card-previewonly alert-status'
                                    ><span class='label label-warning'><i class='fa fa-bell-slash'></i></span></span>
                            </span>
                        </div>
                        <div class='card-detailonly'>
                            <span style='text-align: center'>
                                <a target='_blank' href='/stats/proxy?host={{ proxy.host|e }}&port={{ proxy.port }}' class='btn'>状态历史 <i class='fa fa-external-link'></i></a>
                                <button class='check-suppress-alert check-group check-group-danger {{ 'check-group-checked' if proxy.suppress_alert else '' }}' data-ntype='proxy' data-host={{ proxy.host|tojson }} data-port='{{ proxy.port|tojson }}'>
                                    <span class='check-group-label'>关闭报警</span>
                                </button>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endif %}
    </table>
    <div class='card-detail'>
        <div card-detailfrom='cluster-descr'></div>
        {% if cluster.proxies %}
        <div card-detailfrom='cluster-proxy'></div>
        {% endif %}
        <table style='width: 90%; margin: auto; text-align: center'>
            <thead>
                <tr>
                    <th>
                        节点 ID
                    </th>
                    <th>
                        地址
                    </th>
                    <th>
                        角色
                    </th>
                    <th class='master'>
                        拥有的槽位数量 (主)
                    </th>
                    <th class='slave'>
                        主 ID (从)
                    </th>
                    <th>
                        SLA
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for node in cluster.nodes %}
                <tr {% if node.detail %}id='node-c-{{ node.node_id|e }}'{% endif %}>
                    <td style='font-family: monospace'>
                        {{ node.node_id|e }}
                    </td>
                    <td>
                        <a href='#node-i-{{ node.host|e }}-{{ node.port }}'>
                            {{ node.host|e }}:{{ node.port }}
                        </a>
                    </td>
                    {% if node.detail.slave %}
                    <td class='slave'>
                        从
                    </td>
                    <td class='slave'>-</td>
                    <td class='slave'>
                        <a style='font-family: monospace' href='#node-c-{{ node.detail.master_id|e }}'>{{ node.detail.master_id[:8]|e }}...</a>
                    </td>
                    {% else %}
                    <td class='master'>
                        主
                    </td>
                    <td class='master'>
                        {% if node.detail %}
                        {{ node.detail.slots|length }}
                        {% else %}
                        等待轮询
                        {% endif %}
                    </td>
                    <td class='master'>-</td>
                    {% endif %}
                    <td>{{ (node.detail.get('sla', 0) * 100)|round(2) }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
