{% import 'blocks/modal.html' as modal %}

{{ modal.head('exportNodes', '集群节点列表') }}
<div class='row'>
    {{ checkbox('只显示主节点', size=3, id='expnd-show-masters-only') }}
    {{ button('按地址排序', size=2, id='expnd-sort') }}
    {{ button('倒转顺序', size=2, id='expnd-reverse') }}
</div>
<textarea id='expnd-cluster-nodes' style='display: block; width: 100%; min-height: 16em; margin: 8px'></textarea>
{{ modal.tail() }}

<script>
function fillNodes(masterOnly) {
    var nodes = $('.master-row').map(function() {return $(this).data('host') + ':' + $(this).data('port');}).toArray().join('\n');
    if (!masterOnly) {
        nodes += '\n' + $('.slave-row').map(function() {return $(this).data('host') + ':' + $(this).data('port');}).toArray().join('\n');
    }
    $('#expnd-cluster-nodes').val(nodes);
}

$('#expnd-show-masters-only').enableLabelCheck({
    onClick: function(e) {
        fillNodes(e.prop('checked'));
    }
});

$('#expnd-sort').click(function() {
    var a = $('#expnd-cluster-nodes').val().split('\n');
    a.sort();
    $('#expnd-cluster-nodes').val(a.join('\n'));
});

$('#expnd-reverse').click(function() {
    var a = $('#expnd-cluster-nodes').val().split('\n');
    a.reverse();
    $('#expnd-cluster-nodes').val(a.join('\n'));
});

$('#exportNodes').on('show.bs.modal', function(event) {
    fillNodes($('#expnd-show-masters-only').prop('checked'));
});
</script>
