{% import './components/widgets.html' as widgets %}

<tr id='cluster-{{ cluster.id }}'class='{% if cluster.nodes|length == 0 %}adv-user-display{% else %}cluster-row{% endif %}'>
    <td><a href='/cluster/panel/{{ cluster.id }}'>{{ cluster.id }}</a></td>
    <td><a href='/cluster/panel/{{ cluster.id }}'>{{ cluster.description|e }}</a></td>
    <td>{{ cluster.nodes|length }}</td>
    <td>
    {% if cluster.proxies %}
        <div class='form-horizontal'>
        {% for proxy in cluster.proxies %}
            <div class='form-group'>
                <div class='col-xs-4'>
                    <a href='/cluster/panel/{{ cluster.id }}#proxy-{{ proxy.host|e }}-{{ proxy.port }}'>
                        {{ proxy.host|e }}:{{ proxy.port }}
                    </a>
                </div>
                <div class='col-xs-1'>
                    {% if proxy.detail.read_slave %}<span class='label label-info'>R</span>{% endif %}
                </div>
                <div class='col-xs-1'>
                {% if proxy.stat %}
                    <span class='label label-success'>OK</span>
                {% else %}
                    <span class='label label-danger'>E</span>
                {% endif %}
                </div>
                <div class='col-xs-1'>
                    {% if proxy.suppress_alert %}<span class='label label-warning alarm-display'><i class='fa fa-bell-slash'></i></span>{% endif %}
                </div>
                <div class='col-xs-4'>
                    {{ proxy.detail.version|e }}
                </div>
                <div class='col-xs-1'>
                    {{ widgets.stat_icon('proxy', proxy.host, proxy.port) }}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class='text-center' data-localize='no-proxy'>No Proxy</div>
    {% endif %}
    </td>
</tr>
