<div class='panel panel-default'>
  <table class='table'>
    <thead>
        <tr>
            <th>#</th>
            <th data-localize='task-cluster'>所属集群</th>
            <th data-localize='task-type'>类型</th>
            <th data-localize='task-creation'>创建时间</th>
            <th data-localize='task-status'>执行状态</th>
            <th data-localize='task-detail'>详情</th>
            <th data-localize='task-creator'>Creator</th>
        </tr>
    </thead>
    <tbody style='text-align: center'>
    {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href='/cluster/panel/{{ task.cluster_id }}'>#{{ task.cluster_id }}</a></td>
            <td data-localize='task-type-{{ task.task_type }}'>{{ task.task_type }}</td>
            <td>{{ task.creation|strftime }}</td>
            <td>
            {% if task.completed %}
                {% if task.exec_error %}
                    <span class='label label-danger' data-localize='task-failed'>失败</span>
                {% else %}
                    <span class='label label-success' data-localize='task-done'>完毕</span>
                {% endif %}
                {{ task.completion|strftime }}
            {% elif task.running %}
                <span class='label label-primary' data-localize='task-running'>正在执行</span>
            {% else %}
                <span class='label label-info' data-localize='task-awaiting'>等待中</span>
            {% endif %}
            </td>
            <td>
                <button class='btn btn-success' data-toggle='modal' data-target='#taskDetail' data-taskid='{{ task.id }}' data-localize='task-detail'>查看详情</button>
            </td>
            <td>
                {% autoescape false %}
                    {{ render_user(task.user_id) }}
                {% endautoescape %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class='modal fade bs-example-modal-lg' id='taskDetail' tabindex='-1' role='dialog' aria-labelledby='taskDetailTitle' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='taskDetailTitle'>#<span id='taskDetailId'></span></h4>
            </div>
            <div class='modal-body'>
                <span id='taskDetailLoaderPlaceholder' data-localize='task-loading'>正在载入任务详情...</span>
                <div id='taskDetailContent'>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <table class='table'>
                        <div class="panel-body">
                          <span data-localize='task-steps-0'>任务步骤 (共</span>
                          <span id='taskDetailStepCount'></span>
                          <span data-localize='task-steps-1'>项)</span>
                        </div>
                        <thead>
                          <tr>
                            <th>#</th>
                            <th data-localize='task-command'>命令</th>
                            <th data-localize='task-args'>参数</th>
                            <th data-localize='task-begin'>开始时间</th>
                            <th data-localize='task-status'>执行状态</th>
                          </tr>
                        </thead>
                        <tbody style='text-align: center' id='taskDetailSteps'></tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
