header {
    color: #bbb;
    padding: 8px;
    min-height: 24px;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
}
.nav-link {
    color: #68d098;
}
.nav-link:hover {
    color: #4cc;
    text-decoration: none;
}

footer {
    background-color: #eee;
    color: #666;
    min-height: 32px;
    line-height: 28px;
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px dashed #aaa;
}

.table caption {
    font-size: 2em;
    font-weight: bold;
}

hr {
    clear: both;
}

.selected {
    background-color: #fc8;
}

th {
    padding: 4px;
}

.label-cell {
    min-width: 72px;
    padding-right: 2em;
}

.status-table {
    float: left;
    min-width: 280px;
    margin-right: 20px;
}

.master {color: #044}
.slave {color: #440}

.cluster-ceiling {
    border-top: 1px solid;
    text-align: left;
}

.cluster-table {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 16px;
}

.cluster-table tbody {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.cluster-table th {
    text-align: center;
}

.cluster-info {
    clear: both;
    margin-left: 1em;
}

.alert-enabled .alert-status {
    visibility: hidden;
}

.noalert-only .alert-enabled {
    display: none;
}

.error-only .node-healthy {
    display: none;
}

.migrating-only .node-stable {
    display: none;
}

.row button {
    width: 100%;
}
