header {
    color: #bbb;
    padding: 8px;
    min-height: 24px;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
}
.nav-link {
    color: #68d098;
}
.nav-link:hover {
    color: #4cc;
    text-decoration: none;
}

footer {
    background-color: #eee;
    color: #666;
    min-height: 32px;
    line-height: 28px;
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px dashed #aaa;
}

.no-stats-mode .stats-display { display: none }
.no-alarm-mode .alarm-display { display: none }
.no-container-mode .container-display { display: none }
.no-adv-user-mode .adv-user-display { display: none }

.table caption {
    font-size: 2em;
    font-weight: bold;
}

th {
    padding: 4px;
}

hr {
    clear: both;
}

.selected {
    background-color: #fc8;
}

.label-cell {
    min-width: 72px;
    padding-right: 2em;
}

.master {color: #044}
.slave {color: #440}
