{% extends './base.html' %}

{% block title %}ERU 节点管理{% endblock %}

{% block head %}
<script src='/static/js/eru_container.js'></script>
{% endblock %}

{% block body %}
<div class='form-horizontal form-submit'>
    <div class='from-group'>
        <h4 style='text-align: right;'><span data-localize='Eru-address'>Eru地址</span>：{{ g.container_client.url|e }}</h4>
    </div>
    <div class='from-group'>
      <div class='col-sm-3'>
        <select id='pod-list' class='form-control'>
            <option value='' data-localize='select-server-room'>选择机房</option>
            {% for p in pods %}
            <option value='{{ p.name|e }}'>{{ p.name|e }} - <span data-localize='server-num'>机器数</span> {{ p.host_count|e }}</option>
            {% endfor %}
        </select>
      </div>
      {{ checkbox('指定机器', size=2, color='info', id='specify-host-check') }}
      <div class='col-sm-3' style='display: none' id='host-list-container'></div>
      <div class='col-sm-3' style='display: none' id='host-panel'>
        <button class='check-opt check-group check-group-info' id='netmode-host' data-localize='HOST-network-model-deployment'>HOST 网络模型部署</button>
      </div>
    </div>
</div>

<hr style='clear: both'>

<div id='node-create-panel' style='margin-top: 0.5em; display: none' class='form-horizontal form-submit'>
    <div class='form-group'>
        {{ label('创建节点', size=1) }}
        {{ checkbox('启用 AOF', size=2, id='aof-enable', color='info', cls=['check-opt']) }}
        {{ checkbox('集群模式', size=2, id='use-cluster-enable', color='info', checked=true, cls=['check-opt']) }}
        {{ input(offset=3, size=2, id='port-node', placeholder='6379', addon='指定端口') }}
        {{ button('创建 ERU 节点', size=2, id='create-node-btn', color='primary') }}
    </div>

    <div class='form-group'>
        {{ label('创建代理', size=1) }}
        <div class= 'col-xs-4'>
          <select id='cluster-select' class='form-control'>
            <option value='' data-localize='select-the-cluster'>选择集群</option>
            {% for c in clusters if c.nodes|length > 0 %}
            <option value='{{ c.id }}'>#{{ c.id }} - {{ c.description }} - {{ c.nodes|length }} <span data-localize='node-num'>个节点</option>
            {% endfor %}
          </select>
        </div>
        <div class='col-xs-2'>
          <select id='threads-select' class='form-control'>
            <option value='' data-localize='threads'>线程数</option>
            <option value='2' data-localize='threads-2'>2 线程</option>
            <option value='4' data-localize='threads-4'>4 线程</option>
            <option value='8' data-localize='threads-8'>8 线程</option>
            <option value='16' data-localize='threads-16'>16 线程</option>
            <option value='24' data-localize='threads-24'>24 线程</option>
          </select>
        </div>
        {{ checkbox('只读', size=1, id='read-slave', color='info', cls=['check-opt']) }}
        {{ input(size=2, id='port-proxy', placeholder='8889', addon='指定端口') }}
        {{ button('创建 ERU 代理', size=2, id='create-proxy-btn', color='primary') }}
    </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <span data-localize='add-nodes'> 新增节点</span>
    <a href='/containerize/nodes/' style='color:white; float: right;' data-localize='node-list-of-eru'>查看 Eru 节点列表</a>
  </div>
  {% autoescape false %}
    {{ render('components/node/list_eru_node.html', nodes=[]) }}
  {% endautoescape %}
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <span data-localize='add-agent'>新增代理</span>
    <a href='/containerize/proxies/' style='color:white; float: right;' data-localize='agent-list-of-eru'>查看 Eru 代理列表</a>
  </div>
  {% autoescape false %}
    {{ render('components/node/list_eru_proxy.html', proxies=[]) }}
  {% endautoescape %}
</div>

<script>
$('#pod-list').change(function() {
    $('#node-create-panel').show();
    var selectHost = $('<select>').addClass('form-control');
    $('#host-list-container').html('').append(selectHost);
    $.get('/containerize/list_hosts/' + $('#pod-list').val(), {}, function(r) {
        $.each(r, function(i, e) {
            selectHost.append($('<option>').val(e.name).text(e.name + ' - ' + e.addr))
        });
    });
});
$('#specify-host-check').enableLabelCheck({
    onClick: function(e) {
        $('#host-panel').toggle(e.prop('checked'));
        $('#host-list-container').toggle(e.prop('checked'));
    }
});

function getSelectedHost() {
    return $('#specify-host-check').prop('checked') ? $('#host-list-container :selected').val() : '';
}

function useHostMode() {
    return $('#netmode-host').prop('checked');
}

$('#cluster-select').change(function(){width: 280});
$('#threads-select').change(function(){width: 180});

function displayErrorMsg(btn, msg) {
    btn.removeAttr('disabled');
    alert(msg);
}

function displayError(btn, e) {
    var err = e.responseJSON || {};
    if (err.reason === 'eru fail' && err.detail === 'Not enough core resources') {
        return displayErrorMsg(btn, '指定机器的资源不足');
    }
    if (err.reason === 'exists') {
        return displayErrorMsg(btn, '该地址的节点或代理已经存在');
    }
    displayErrorMsg(btn, '错误: ' + e.responseText);
}

$('#create-node-btn').click(function() {
    var btn = $(this).attr('disabled', 'disabled');
    $('#node-error').hide();
    var port = parseInt($('#port-node').val() || 6379);
    if (!(6000 <= port && port <= 7999)) {
        return displayErrorMsg(btn, '端口范围应该在 6000-7999 之间');
    }
    $.ajax({
        url: '/containerize/create_redis',
        type: 'POST',
        data: {
            pod: $('#pod-list').val(),
            aof: $('#aof-enable').prop('checked') ? 'y' : 'n',
            cluster: $('#use-cluster-enable').prop('checked') ? 'y' : 'n',
            netmode: useHostMode() ? 'host' : 'macvlan',
            host: getSelectedHost(),
            port: port
        },
        success: function(r) {
            btn.removeAttr('disabled');
            $('#eru-nodes').append($('<tr>'
                    ).append($('<td>').text(r.container_id.slice(0, 16))
                    ).append($('<td>').text(r.version.slice(0, 7))
                    ).append($('<td>').text(r.host)
                    ).append($('<td>').text(r.created)
                    ).append($('<td>').append($('<a>').attr('href', '/redis/panel/' + r.address + '/' + port).text(r.address))
                    ).append($('<td>')
                    ).append($('<td>').append(deleteButton(r.container_id, 'node'))
                    ));
        },
        error: function(e) {
            displayError(btn, e);
        }
    });
});

$('#create-proxy-btn').click(function () {
    var btn = $(this);
    var clusterId = $('#cluster-select').val();
    if (!clusterId) {
        return;
    }
    var threads = $('#threads-select').val();
    if (!threads) {
        return;
    }
    var port = parseInt($('#port-proxy').val() || 8889);
    if (!(8000 <= port && port <= 9999)) {
        return displayErrorMsg(btn, '端口范围应该在 8000-9999 之间');
    }

    btn.attr('disabled', 'disabled');
    $('#node-error').hide();
    $.ajax({
        url: '/containerize/create_proxy',
        type: 'POST',
        data: {
            pod: $('#pod-list').val(),
            cluster_id: clusterId,
            threads: threads,
            read_slave: $('#read-slave').prop('checked') ? 'rs' : '',
            netmode: useHostMode() ? 'host' : 'macvlan',
            host: getSelectedHost(),
            port: port
        },
        success: function(r) {
            btn.removeAttr('disabled');
            $('#eru-proxies').append($('<tr>'
                    ).append($('<td>').text(r.container_id.slice(0, 16))
                    ).append($('<td>').text(r.version.slice(0, 7))
                    ).append($('<td>').text(r.host)
                    ).append($('<td>').text(r.created)
                    ).append($('<td>').append($('<a>').attr('href', '/cluster/panel/' + clusterId).text(r.address + ':' + port))
                    ).append($('<td>').append(deleteButton(r.container_id, 'proxy'))
                    ));
        },
        error: function(e) {
            displayError(btn, e);
        }
    });
});

function deleteButton(containerId, type) {
    return $('<button>').addClass('btn').addClass('btn-danger').text(
        '下线容器').data('cid', containerId).data('type', type).click(delContainer);
}

$('.check-opt').enableLabelCheck();
</script>
{% endblock %}
