{% extends './base.html' %}

{% block title %}ERU 节点管理{% endblock %}

{% block body %}

{% if not eru %}
<span class='label label-danger'>没有设定 ERU 地址</span>
{% else %}
<div>
    ERU 地址: {{ eru|e }}
    {% if image_versions|length == 0 %}
    没有找到合适的镜像版本
    {% else %}
    <div>
        选择镜像版本
        <select id='image-version'>
            {% for v in image_versions %}
            <option value='{{ v.sha|e }}'>{{ v.sha[:8]|e }} : {{ v.created|e }}</option>
            {% endfor %}
        </select>
        <button id='aofEnable' class='check-group check-group-info'> 启用 AOF</button>
        <button class='btn btn-primary' onclick='requestEruNode(this)'>申请一个 ERU 节点</button>
        <span style='display: none' id='error' class='label label-important'></span>
    </div>
    {% endif %}
</div>

<table class='table' style='text-align: center'>
    <thead>
        <tr>
            <th>容器 ID</th>
            <th>镜像版本</th>
            <th>地址</th>
            <th>最大内存</th>
            <th>下线容器</th>
        </tr>
    </thead>
    <tbody id='eru-nodes'>
    {% for n in eru_nodes %}
        <tr>
            <td>{{ n.eru_container_id[:16]|e }}</td>
            <td>{{ n.eru_image_sha[:16]|e }}</td>
            <td><a href='/nodep/{{ n.host|e }}/6379'>{{ n.host|e }}</a></td>
            <td>{{ n.max_mem|filesizeformat }}</td>
            <td>
                {% if n.assignee_id %}
                集群在役中
                {% else %}
                <button class='btn toggle-next'>下线容器</button>
                <button class='btn btn-danger' onclick='delContainer(this, {{ n.eru_container_id|tojson }})'>确定</button>
                {% endif %}
            </td>
        <tr>
    {% endfor %}
    </tbody>
</table>

<script>
$('.check-group').enableLabelCheck();

function requestEruNode(btn) {
    function deleteButton(containerId) {
        var toggleNext = $('<button>').addClass('btn').text('下线容器').click(
                function() {$(this).next().toggle();});
        var offline = $('<button>').addClass('btn').addClass('btn-danger').hide().text('确定');
        offline.click(function() {
            delContainer(this, containerId);
        });
        return [toggleNext, offline];
    }

    $(btn).attr('disabled', 'disabled');
    var version = $('#image-version').val();
    $.ajax({
        url: '/nodes/create/eru',
        type: 'POST',
        data: {
            version: version,
            aof: $('#aofEnable').prop('checked') ? 'y' : 'n'
        },
        success: function(r) {
            $(btn).removeAttr('disabled');
            $('#eru-nodes').append($('<tr>'
                    ).append($('<td>').text(r.container_id.slice(0, 16))
                    ).append($('<td>').text(version.slice(0, 16))
                    ).append($('<td>').append($('<a>').attr('href', '/nodep/' + r.host + '/6379').text(r.host))
                    ).append($('<td>').text((r.max_mem / 1000 / 1000) + 'MB')
                    ).append($('<td>').append(deleteButton(r.container_id))
                    ));
        },
        error: function(e) {
            $('#error').show().text('有错误发生: ' + e.responseText);
        }
    });
}

function delContainer(btn, id) {
    var self = $(btn).attr('disabled', 'disabled');
    $.ajax({
        url: '/nodes/delete/eru',
        method: 'POST',
        data: {
            id: id
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            self.text('发生错误: ' + e.responseText);
        }
    });
}
</script>
{% endif %}
{% endblock %}
