{% extends './base.html' %}

{% block title %}ERU 节点管理{% endblock %}

{% block head %}
<script src='/static/js/eru_container.js'></script>
{% endblock %}

{% block body %}
<div>
    <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'><a href='#redis' aria-controls='home' role='tab' data-toggle='tab'>Redis</a></li>
        <li role='presentation'><a href='#proxy' aria-controls='profile' role='tab' data-toggle='tab'>Proxy</a></li>
    </ul>

    <div class='form-horizontal form-submit' style='margin-top: 1em'>
        <div class='from-group'>
          <div class='col-xs-3'>
            <select id='pod-list' class='form-control'>
                <option value='' data-localize='select-pod'>Select Pod</option>
                {% for p in pods %}
                <option value='{{ p.name|e }}'>{{ p.name|e }} - <span data-localize='server-num'>Servers:</span> {{ p.host_count|e }}</option>
                {% endfor %}
            </select>
          </div>
          {{ checkbox('Specify host', size=2, color='info', id='specify-host-check', lcl='specify-host') }}
          <div class='col-xs-3' style='display: none' id='host-list-container'></div>
          <div class='col-xs-3' style='display: none' id='host-panel'>
            <button class='check-opt check-group check-group-info' id='netmode-host' data-localize='host-network-deployment'>HOST network deploy</button>
          </div>
        </div>
        <hr style='margin: 1em; visibility: hidden'>
    </div>

    <div class='tab-content form-horizontal form-submit'>
        <div role='tabpanel' class='tab-pane active' id='redis'>
            <div class='form-group'>
                {{ label('Settings', size=1, lcl='settings') }}
                {{ checkbox('Enable AOF', size=2, id='aof-enable', color='info', cls=['check-opt', 'btn-block']) }}
                {{ checkbox('Enable Cluster', size=2, id='use-cluster-enable', color='info', checked=true, cls=['check-opt', 'btn-block']) }}
                {{ input(size=2, id='port-node', placeholder='6379', addon='Port') }}
            </div>
            <div class='form-group'>
                {{ label('Image', size=1, lcl='select-image') }}
                <div class='col-xs-6'>
                  <select id='redis-images' class='form-control'>
                    <option value='' data-localize='select-redis-image'>Latest Image</option>
                    {% for i in redis_images %}
                    <option value='{{ i.name|e }}'>{{ i.name|e }} - {{ i.description|e }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class='col-xs-1'>
                  <a style='line-height: 34px' href='/containerize/image/manage/redis/' target='_blank'><i class='fa fa-plus-circle'></i></a>
                </div>
            </div>
            <div class='form-group'>
                {{ button('Create', offset=1, size=1, id='create-node-btn', color='primary', lcl='create') }}
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <span data-localize='newly-created'>Newly Created</span>
                <a href='/containerize/nodes/' style='color:white; float: right;' data-localize='view-all'>View All</a>
              </div>
              {% autoescape false %}
                {{ render('components/node/list_eru_node.html', nodes=[]) }}
              {% endautoescape %}
            </div>
        </div>

        <div role='tabpanel' class='tab-pane' id='proxy'>
            <div class='form-group'>
                {{ label('Settings', size=1, lcl='settings') }}
                {{ checkbox('Readonly', size=2, id='read-slave', color='info', cls=['check-opt', 'btn-block'], lcl='readonly') }}
                <div class='col-xs-2'>
                  <select id='threads-select' class='form-control'>
                    <option value='' data-localize='threads-num'>Threads</option>
                    <option value='2'>2</option>
                    <option value='4'>4</option>
                    <option value='8'>8</option>
                    <option value='16'>16</option>
                    <option value='24'>24</option>
                  </select>
                </div>
                {{ input(size=2, id='port-proxy', placeholder='8889', addon='Port') }}
            </div>
            <div class='form-group'>
                {{ label('For', size=1, lcl='serve-for') }}
                <div class= 'col-xs-6'>
                  <select id='cluster-select' class='form-control'>
                    <option value='' data-localize='select-cluster'>Select Cluster</option>
                    {% for c in clusters if c.nodes|length > 0 %}
                    <option value='{{ c.id }}'>#{{ c.id }} - {{ c.description }} - {{ c.nodes|length }} <span data-localize='nodes'>Nodes</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div class='form-group'>
                {{ button('Create', offset=1, size=1, id='create-proxy-btn', color='primary', lcl='create') }}
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <span data-localize='newly-created'>Newly Created</span>
                <a href='/containerize/proxies/' style='color:white; float: right;' data-localize='view-all'>View All</a>
              </div>
              {% autoescape false %}
                {{ render('components/node/list_eru_proxy.html', proxies=[]) }}
              {% endautoescape %}
            </div>
        </div>
    </div>
</div>

<script>
$('#pod-list').change(function() {
    var selectHost = $('<select>').addClass('form-control');
    $('#host-list-container').html('').append(selectHost);
    $.get('/containerize/list_hosts/' + $('#pod-list').val(), {}, function(r) {
        $.each(r, function(i, e) {
            selectHost.append($('<option>').val(e.name).text(e.name + ' - ' + e.addr))
        });
    });
});
$('#specify-host-check').enableLabelCheck({
    onClick: function(e) {
        $('#host-panel').toggle(e.prop('checked'));
        $('#host-list-container').toggle(e.prop('checked'));
    }
});

function getSelectedHost() {
    return $('#specify-host-check').prop('checked') ? $('#host-list-container :selected').val() : '';
}

function useHostMode() {
    return $('#netmode-host').prop('checked');
}

function displayErrorMsg(btn, msg) {
    btn.removeAttr('disabled');
    alert(msg);
}

function displayError(btn, e) {
    var err = e.responseJSON || {};
    if (err.reason === 'eru fail' && err.detail === 'Not enough core resources') {
        return displayErrorMsg(btn, '指定机器的资源不足');
    }
    if (err.reason === 'exists') {
        return displayErrorMsg(btn, '该地址的节点或代理已经存在');
    }
    displayErrorMsg(btn, '错误: ' + e.responseText);
}

function checkPodSelect() {
    var pod = $('#pod-list').val();
    if (!pod) {
        alert(_('Please select a pod'));
        return false;
    }
    return true;
}

$('#create-node-btn').click(function() {
    if (!checkPodSelect()) {
        return;
    }
    var btn = $(this).attr('disabled', 'disabled');
    $('#node-error').hide();
    var port = parseInt($('#port-node').val() || 6379);
    if (!(6000 <= port && port <= 7999)) {
        return displayErrorMsg(btn, '端口范围应该在 6000-7999 之间');
    }
    $.ajax({
        url: '/containerize/create_redis',
        type: 'POST',
        data: {
            pod: $('#pod-list').val(),
            aof: $('#aof-enable').prop('checked') ? 'y' : 'n',
            cluster: $('#use-cluster-enable').prop('checked') ? 'y' : 'n',
            netmode: useHostMode() ? 'host' : 'macvlan',
            host: getSelectedHost(),
            image: $('#redis-images').val(),
            port: port
        },
        success: function(r) {
            btn.removeAttr('disabled');
            $('#eru-nodes').append($('<tr>'
                    ).append($('<td>').text(r.container_id.slice(0, 16))
                    ).append($('<td>').text(r.version.slice(0, 7))
                    ).append($('<td>').text(r.host)
                    ).append($('<td>').text(r.created)
                    ).append($('<td>').append($('<a>').attr('href', '/redis/panel/' + r.address + '/' + port).text(r.address))
                    ).append($('<td>')
                    ).append($('<td>').append(deleteButton(r.container_id, 'node'))
                    ));
        },
        error: function(e) {
            displayError(btn, e);
        }
    });
});

$('#create-proxy-btn').click(function () {
    if (!checkPodSelect()) {
        return;
    }
    var btn = $(this);
    var clusterId = $('#cluster-select').val();
    if (!clusterId) {
        return;
    }
    var threads = $('#threads-select').val();
    if (!threads) {
        return;
    }
    var port = parseInt($('#port-proxy').val() || 8889);
    if (!(8000 <= port && port <= 9999)) {
        return displayErrorMsg(btn, '端口范围应该在 8000-9999 之间');
    }

    btn.attr('disabled', 'disabled');
    $('#node-error').hide();
    $.ajax({
        url: '/containerize/create_proxy',
        type: 'POST',
        data: {
            pod: $('#pod-list').val(),
            cluster_id: clusterId,
            threads: threads,
            read_slave: $('#read-slave').prop('checked') ? 'rs' : '',
            netmode: useHostMode() ? 'host' : 'macvlan',
            host: getSelectedHost(),
            port: port
        },
        success: function(r) {
            btn.removeAttr('disabled');
            $('#eru-proxies').append($('<tr>'
                    ).append($('<td>').text(r.container_id.slice(0, 16))
                    ).append($('<td>').text(r.version.slice(0, 7))
                    ).append($('<td>').text(r.host)
                    ).append($('<td>').text(r.created)
                    ).append($('<td>').append($('<a>').attr('href', '/cluster/panel/' + clusterId).text(r.address + ':' + port))
                    ).append($('<td>').append(deleteButton(r.container_id, 'proxy'))
                    ));
        },
        error: function(e) {
            displayError(btn, e);
        }
    });
});

function deleteButton(containerId, type) {
    return $('<button>').addClass('btn').addClass('btn-danger').text(
        '下线容器').data('cid', containerId).data('type', type).click(delContainer);
}

$('.check-opt').enableLabelCheck();
</script>
{% endblock %}
