{% extends './base.html' %}

{% block title %}ERU 节点管理{% endblock %}

{% block head %}
<script src='/static/js/eru_container.js'></script>
{% endblock %}

{% block body %}

{% block pagination %}
<nav>
  <div class="pagination pagination-info">
  <ul>
    {% if page != 0 %}
    <li><a href='?page=0' data-localize='first-page'>First page</a></li>
    <li class='previous'><a href='?page={{ page - 1 }}' data-localize='pervious'>Previous page</a></li>
    {% endif %}
    <li class='next'><a href='?page={{ page + 1 }}' data-localize='next-page'>Next Page</a></li>
    <li><a href='/containerize/' data-localize='eru-manage'>Back to Manage Page</a></li>
  </ul>
  </div>
</nav>
{% endblock %}

<div class="panel panel-primary">
  <div class="panel-heading" data-localize='existing-nodes'>Serving Redis</div>
  {% autoescape false %}
    {{ render('components/node/list_eru_node.html', nodes=nodes) }}
  {% endautoescape %}
</div>

{{ self.pagination() }}

{% endblock %}
