{% extends './base.html' %}

{% block title %}节点控制面板{% endblock %}

{% block head %}
<style>
.table { text-align: center; }
.status-table {
    max-width: 45%;
}
.status-table caption { font-weight: bold; }
.status-table tr:nth-child(2n+1) { background-color: #f8f8f8; }
.status-table caption, .status-table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}
</style>
<script src='/static/redis_node.js'></script>
<script src='/static/sort-nodes.js'></script>
{% endblock %}

{% block body %}
<h1>{{ node.host|e }}:{{ node.port }}</h1>

<table class='table'>
    <tr>
        <th>节点 ID</th>
        <td>{{ detail.node_id|e }}</td>
    </tr>
    <tr>
        <th>版本</th>
        <td>{{ detail.version }}</td>
    </tr>
    <tr>
        <th>内存</th>
        <td>
        {% if detail.mem %}
            {{ detail.mem.used_memory_human|e }} /
            <a href='javascript:void(0)' onclick="$(this).hide(); $('#edit_maxmem').show()">{{ detail.mem.maxmemory|filesizeformat }}</a>
            <span id='edit_maxmem' style='display: none'>
                <input id='maxmem_input' value='{{ detail.mem.maxmemory }}'>
                <button onclick='editMaxMem()' class='btn btn-primary'>修改</button>
                <span class='label label-warning' style='display: none' id='edit-error'>设置的最大内存值超过范围</span>
            </span>
            <script>
            function editMaxMem() {
                $('#edit-error').hide();
                var m = parseInt($('#maxmem_input').val());
                if (isNaN(m) || m < 64 * 1000 * 1000 || m > {{ max_mem_limit|tojson }}) {
                    $('#edit-error').show();
                    return $('#edit_maxmem').focus();
                }
                $.ajax({
                    url: '/nodes/set_max_mem',
                    type: 'POST',
                    data: {
                        host: {{ node.host|tojson }},
                        port: {{ node.port|tojson }},
                        max_mem: m
                    },
                    success: function() {
                        window.location.reload();
                    },
                    error: function(r) {
                        console.error(r);
                    }
                });
            }
            </script>
        {% else %}
        等待轮询
        {% endif %}
        </td>
    </tr>
    {% if node.eru_deployed %}
    <tr>
        <th>部署</th>
        <td><i class='fa fa-cube'></i> ERU 容器</td>
    </tr>

    {% if node.eru_info %}
    <tr>
        <td>ERU 容器 ID</td>
        <td>{{ node.eru_container_id|e }}</td>
    </tr>
    <tr>
        <td>ERU 容器创建时间</td>
        <td>{{ node.eru_info.created|e }}</td>
    </tr>
    <tr>
        <td>ERU 宿主机地址</td>
        <td>{{ node.eru_info.host|e }}</td>
    </tr>
    {% endif %}

    {% endif %}
    <tr>
        <th>统计</th>
        <td>
            {% if not (detail and detail.stat) %}
            等待轮询采集数据
            {% else %}
            <table class='table status-table'>
                <caption>CPU</caption>
                <tr>
                    <td>用户态累计</td>
                    <td>{{ detail.cpu.used_cpu_user }}</td>
                </tr>
                <tr>
                    <td>内核态累计</td>
                    <td>{{ detail.cpu.used_cpu_sys }}</td>
                </tr>
                <tr>
                    <td>总运行时间</td>
                    <td>{{ detail.cpu.uptime_in_seconds }}</td>
                </tr>
                <tr>
                    <td>平均 CPU 占用率</td>
                    <td>{{ ((detail.cpu.used_cpu_user + detail.cpu.used_cpu_sys) / detail.cpu.uptime_in_seconds * 100)|round(2) }}%</td>
                </tr>
            </table>
            <table class='table status-table'>
                <caption>存储</caption>
                <tr>
                    <td>Keyspace hits</td>
                    <td>{{ detail.storage.keyspace_hits }}</td>
                </tr>
                <tr>
                    <td>Keyspace misses</td>
                    <td>{{ detail.storage.keyspace_misses }}</td>
                </tr>
                <tr>
                    <td>Expired keys</td>
                    <td>{{ detail.storage.expired_keys }}</td>
                </tr>
                <tr>
                    <td>Evicted keys</td>
                    <td>{{ detail.storage.evicted_keys }}</td>
                </tr>
            </table>
            <table class='table status-table'>
                <caption>内存</caption>
                <tr>
                    <td>已使用内存</td>
                    <td>{{ detail.mem.used_memory_human }}</td>
                </tr>
                <tr>
                    <td>常驻集</td>
                    <td>{{ detail.mem.used_memory_rss|filesizeformat }}</td>
                </tr>
            </table>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>节点操作</th>
        <td>
            {% if node.assignee is none and not node.eru_deployed %}
            <button class='btn btn-danger node-deleter' data-host='{{ node.host|e }}' data-port='{{ node.port }}'>将此节点从监视器中移除</button>
            {% endif %}

            {% if stats_enabled %}
            <a target='_blank' href='/stats/redis?host={{ node.host|e }}&port={{ node.port }}' class='btn'>状态历史 <i class='fa fa-external-link'></i></a>
            {% endif %}

            <button class='check-suppress-alert check-group check-group-danger {{ 'check-group-checked' if node.suppress_alert else '' }}' data-ntype='redis' data-host={{ node.host|tojson }} data-port='{{ node.port|tojson }}'>
                关闭报警
            </button>

            {% if detail.slots_migrating %}
            <button class='btn btn-warning fix-migrating-btn' data-host='{{ node.host|e }}' data-port='{{ node.port }}'>修复迁移状态</button>
            {% endif %}
        </td>
    </tr>
</table>

{% if node.assignee %}

<table class='table'>
    <tr>
        <th>所属集群</th>
        <td><a target='_blank' href='/clusterp/{{ node.assignee.id }}'>{{ node.assignee.description|e }} <i class='fa fa-external-link'></i></a></td>
    </tr>
    <tr>
        <th>槽位数</th>
        <td>{{ detail.slots|length }}</td>
    </tr>
</table>

<div>
    <button class='btn panel-btn' id='quit-cluster-btn' data-bind='quit-cluster'>退出集群</button>
    <button class='btn panel-btn' id='migrating-slots-btn' data-bind='migrating-slots'>迁出槽位</button>
    <button class='btn btn-info' style='display: none' id='quit-cluster-force'>此节点已由其它进程控制退出集群, 点此按钮解除其与集群的关联</button>
    <button class='btn' data-toggle='modal' data-target='#commandConsole' data-host='{{ node.host|e }}' data-port='{{ node.port }}'>直接发送指令</button>
</div>

<div class='panel-div' id='quit-cluster'>
    <span class='loading-cluster-info'>正在加载集群信息...</span>
    <button class='btn btn-info' style='display: none' id='quit-cluster-replica'>确定退出</button>
    <table class='table' style='display: none'>
        <caption><h2>退出集群 - 迁出该节点上的所有槽位才能退出</h2></caption>
        <thead>
            <tr>
                <th>编号</th>
                <th>地址</th>
                <th>槽位数</th>
                <th>迁出至此节点的槽位数</th>
                <th>迁移后的槽位数</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan='5'>
                    <button class='btn' id='avg-migr-slots-btn'>平均分配迁出的槽位</button>
                    <button class='btn btn-danger' id='quit-cluster-confirm'>迁移全部槽位并退出集群</button>
                    <span id='slots-remain-err' style='visibility: hidden' class='label label-warning invalid-migrating-label'>退出集群前节点槽位必须完全迁出</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class='panel-div' id='migrating-slots'>
    <span class='loading-cluster-info'>正在加载集群信息...</span>
    <table class='table' style='display: none'>
        <thead>
            <tr>
                <th>编号</th>
                <th>地址</th>
                <th>槽位数</th>
                <th>迁出至此节点的槽位数</th>
                <th>迁移后的槽位数</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan='5'>
                    <button id='migrating-slots-confirm' class='btn btn-primary'>迁移</button>
                    <span id='insuff-slots-err' style='visibility: hidden' class='label label-warning invalid-migrating-label'>槽位不足</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
var local = {
    loadingClusterInfo: false,
    clusterNodes: null,
    holdingSlots: {{ (detail.slots if detail and detail.slots else [])|tojson }}
};

function updateSlotsResult() {
    $('.invalid-migrating-label').css('visibility', 'hidden');
    $('.node-info').removeClass('has-error');

    $('.node-info').each(function() {
        var row = $(this);
        var input = row.find('input');
        var result = row.find('.slots-result');
        var inputVal = input.val().trim(), migrSlots = 0;
        if (inputVal.length !== 0) {
            migrSlots = parseInt(input.val());
            if (isNaN(migrSlots) || migrSlots < 0) {
                return row.addClass('has-error');
            }
        }

        input.val(migrSlots);
        result.text(migrSlots + row.data('slots'));
    });

    $('.node-myself').each(function() {
        var table = $(this).parent().parent();
        var slots = 0;
        table.find('input').each(function() {
            slots += parseInt($(this).val()) || 0;
        })
        $(this).find('.slots-result').text(local.holdingSlots.length - slots);
    });
}

$('#avg-migr-slots-btn').click(function() {
    var input = $('#quit-cluster .node-info input');
    var forEach = Math.floor(local.holdingSlots.length / input.length);
    input.each(function() {
        $(this).val(forEach);
    });
    for (var i = 0; i < local.holdingSlots.length - input.length * forEach; ++i) {
        input[i].value = parseInt(input[i].value) + 1;
    }

    updateSlotsResult();
});

$('#quit-cluster-confirm').click(function() {
    updateSlotsResult();

    if (parseInt($('#quit-cluster .node-myself .slots-result').text()) != 0) {
        return $('#slots-remain-err').css('visibility', 'visible');
    }
    var btn = $(this);
    btn.attr('disabled', 'disabled');

    var migratings = [];
    var sliceStart = 0
    $('#quit-cluster .node-info').each(function() {
        var migrCount = parseInt($(this).find('input').val());
        if (!migrCount) {
            return;
        }
        migratings.push({
            host: $(this).data('host'),
            port: $(this).data('port'),
            slots: local.holdingSlots.slice(sliceStart, sliceStart + migrCount)
        });
        sliceStart += migrCount;
    });

    $.ajax({
        url: '/cluster/quit',
        type: 'POST',
        data: JSON.stringify({
            host: {{ node.host|tojson }},
            port: {{ node.port|tojson }},
            migratings: migratings
        }),
        success: function() {
            return window.location.reload();
        },
        error: function(r) {
            btn.parent().text('失败: ' + r.responseText);
        }
    });
});

$('#migrating-slots-confirm').click(function() {
    updateSlotsResult();

    var errorInput = $('#migrating-slots .has-error input');
    if (errorInput.length > 0) {
        return $(errorInput[0]).focus();
    }

    if (parseInt($('#migrating-slots .node-myself .slots-result').text()) < 0) {
        return $('#insuff-slots-err').css('visibility', 'visible');
    }
    var btn = $(this);
    btn.attr('disabled', 'disabled');

    var sliceStart = 0
    $('#migrating-slots .node-info').each(function() {
        var migrCount = parseInt($(this).find('input').val());
        if (!migrCount) {
            return;
        }

        $.ajax({
            url: '/cluster/migrate_slots',
            type: 'POST',
            data: {
                src_host: {{ node.host|tojson }},
                src_port: {{ node.port|tojson }},
                dst_host: $(this).data('host'),
                dst_port: $(this).data('port'),
                slots: local.holdingSlots.slice(sliceStart, sliceStart + migrCount).join(',')
            },
            success: function() {
                return window.location.reload();
            },
            error: function(r) {
                btn.parent().text('失败: ' + r.responseText);
            }
        });
        sliceStart += migrCount;
    });
});

$('#quit-cluster-btn,#migrating-slots-btn').click(function() {
    if (local.loadingClusterInfo) {
        return;
    }
    local.loadingClusterInfo = true;

    function nodeRow(i, node) {
        return $('<tr>').addClass('node-info').addClass('form-group').data('host', node.host).data('port', node.port).data('slots', node.slots_count
            ).append($('<td>').text('#' + i)
            ).append($('<td>').text(node.host + ':' + node.port)
            ).append($('<td>').text(node.slots_count)
            ).append($('<td>').append($('<input>').addClass('form-control'))
            ).append($('<td>').addClass('slots-result').text(node.slots_count)
            );
    }

    function nodeMyself(i, node) {
        return $('<tr>').addClass('node-myself'
            ).append($('<td>').text('#' + i)
            ).append($('<td>').text(node.host + ':' + node.port)
            ).append($('<td>').text(node.slots_count)
            ).append($('<td>').text('当前节点')
            ).append($('<td>').addClass('slots-result').text(node.slots_count)
            );
    }

    function addNodesToTable(t, nodes) {
        $.each(nodes, function(i, node) {
            if (node.host === {{ node.host|tojson }} && node.port === {{ node.port|tojson }}) {
                t.append(nodeMyself(i, node));
            } else {
                t.append(nodeRow(i, node));
            }
        });
        return t;
    }

    $.ajax({
        url: '/nodes/get_masters',
        type: 'GET',
        data: {
            host: {{ node.host|tojson }},
            port: {{ node.port|tojson }}
        },
        success: function(r) {
            if (r.myself.role === 'slave') {
                $('.loading-cluster-info').text('此节点是从节点');
                return $('#quit-cluster-replica').click(function() {
                    var btn = $(this).attr('disabled', 'disabled');
                    $.ajax({
                        url: '/cluster/quit',
                        type: 'POST',
                        data: JSON.stringify({
                            host: {{ node.host|tojson }},
                            port: {{ node.port|tojson }},
                            migratings: [],
                        }),
                        success: function() {
                            return window.location.reload();
                        },
                        error: function(r) {
                            btn.text('失败: ' + r.responseText);
                        }
                    });
                }).show();
            }
            $('.loading-cluster-info').remove();
            if (r.masters.length <= 1 && r.myself.slots === 0) {
                return $('#quit-cluster-force').click(function() {
                    var btn = $(this).attr('disabled', 'disabled');
                    $.ajax({
                        url: '/cluster/quit',
                        type: 'POST',
                        data: JSON.stringify({
                            host: {{ node.host|tojson }},
                            port: {{ node.port|tojson }},
                            migratings: [],
                        }),
                        success: function() {
                            return window.location.reload();
                        },
                        error: function(r) {
                            btn.text('失败: ' + r.responseText);
                        }
                    });
                }).show();
            }
            local.clusterNodes = r.masters;
            local.clusterNodes.sort(sortNodeByAddr);
            addNodesToTable($('#quit-cluster tbody'), local.clusterNodes);
            addNodesToTable($('#migrating-slots tbody'), local.clusterNodes);
            $('#quit-cluster .table').show();
            $('#migrating-slots .table').show();

            if (local.clusterNodes.length === 1) {
                $('#quit-cluster button').attr('disabled', 'disabled');
                $('#migrating-slots button').attr('disabled', 'disabled');
            }

            $('.node-info input').blur(updateSlotsResult);
        },
        error: function(r) {
            $('.loading-cluster-info').text('失败: ' + r.responseText);
        }
    });
});
</script>

{% else %}

<div style='margin-bottom: 1em'>
    <button class='btn' data-toggle='modal' data-target='#clusterAutoDiscover'>集群自动发现</button>
    <button class='btn panel-btn' id='start-cluster-btn' data-bind='start-cluster'>启动集群</button>
    <button class='btn panel-btn' id='join-cluster-btn' data-bind='join-cluster'>加入集群</button>
    <button class='btn' data-toggle='modal' data-target='#commandConsole' data-host='{{ node.host|e }}' data-port='{{ node.port }}'>直接发送指令</button>
</div>

{{ render_template('components/node/autodiscover.html', host=node.host, port=node.port) }}

<div class='panel-div' id='start-cluster'>
    集群描述: <input id='start-cluster-descr'>
    <button class='btn btn-primary' id='start-cluster-confirm'>启动</button>
</div>

<div class='panel-div' id='join-cluster'>
    <span id='loading-cluster-list'>正在加载集群列表...</span>
    <select id='select-cluster' data-select-style='select-default'>
        <option value=''>选择集群</option>
    </select>
    <button class='btn btn-primary' id='join-cluster-confirm'>加入成为主节点</button>
    -- 或 --
    <select id='select-master' data-select-style='select-default' data-default-text='选择主节点'></select>
    <button class='btn btn-primary' id='replicate-confirm'>以此主节点的副本加入</button>
</div>

<script>
$('#select-cluster').enableLabelSelect({width: 360});
$('#select-master').enableLabelSelect({width: 220});

var local = {
    loadingClusterList: false,
    clusterList: null,
    clusterMasters: {}
};

$('#start-cluster-confirm').click(function() {
    if ($('#start-cluster-descr').val().length === 0) {
        return $('#start-cluster-descr').focus();
    }
    var btn = $(this);
    btn.text('请稍候').attr('disabled', 'disabled');
    $.post('/cluster/add', {
        descr: $('#start-cluster-descr').val()
    }, function(r) {
        $.ajax({
            url: '/cluster/launch',
            type: 'POST',
            data: {
                host: {{ node.host|tojson }},
                port: {{ node.port|tojson }},
                cluster_id: r
            },
            success: function() {
                window.location.reload();
            },
            error: function(r) {
                btn.parent().text('失败: ' + r.responseText);
            }
        });
    });
});

$('#join-cluster-btn').click(function() {
    if (local.loadingClusterList) {
        return;
    }
    local.loadingClusterList = true;

    $.ajax({
        url: '/cluster/list',
        type: 'GET',
        success: function(r) {
            $('#loading-cluster-list').remove();
            local.clusterList = r;
            for (var i in r) {
                var cluster = r[i];
                $('#select-cluster').append($('<option>').text([cluster.descr, '-', cluster.nodes, '个节点'].join(' ')).val(cluster.id));
            }
            $('#select-cluster').enableLabelSelect({
                itemWidth: 360,
                onChange: function(clusterId, select) {
                    var cluster = local.clusterMasters[clusterId];
                    if (cluster) {
                        return fillMasterNodesTo(cluster);
                    }

                    $.ajax({
                        url: '/cluster/get_masters',
                        type: 'GET',
                        data: {
                            id: clusterId
                        },
                        success: function(r) {
                            r.sort(sortNodeByAddr);
                            local.clusterMasters[clusterId] = r;
                            if (select.val() === clusterId) {
                                fillMasterNodesTo(r);
                            }
                        },
                        error: function(r) {
                            console.error('失败: ' + r.responseText);
                        }
                    });
                }
            });
        },
        error: function(r) {
            $('#loading-cluster-list').text('失败: ' + r.responseText);
        }
    });
});

function fillMasterNodesTo(cluster) {
    $('#select-master').html('').append(cluster.map(function(e) {
        return $('<option>').text([e.host, ':', e.port].join('')).val(JSON.stringify({host: e.host, port: e.port}));
    })).enableLabelSelect({itemWidth: 220});
}

$('#join-cluster-confirm').click(function() {
    var btn = $(this);
    var clusterId = parseInt($('#select-cluster').val());
    if (isNaN(clusterId)) {
        return;
    }
    $('#join-cluster button').attr('disabled', 'disabled');
    btn.text('请稍候');
    $.ajax({
        url: '/cluster/join',
        type: 'POST',
        data: {
            host: {{ node.host|tojson }},
            port: {{ node.port|tojson }},
            cluster_id: clusterId
        },
        success: function() {
            window.location.reload();
        },
        error: function(r) {
            btn.parent().text('失败: ' + r.responseText);
        }
    });
});

$('#replicate-confirm').click(function() {
    var opt = JSON.parse($('#select-master').val());
    if (!(opt && opt.host)) {
        return;
    }
    $('#join-cluster button').attr('disabled', 'disabled');
    var btn = $(this);
    btn.text('请稍候');
    $.ajax({
        url: '/cluster/replicate',
        type: 'POST',
        data: {
            master_host: opt.host,
            master_port: opt.port,
            slave_host: {{ node.host|tojson }},
            slave_port: {{ node.port|tojson }}
        },
        success: function() {
            window.location.reload();
        },
        error: function(r) {
            btn.parent().text('失败: ' + r.responseText);
        }
    });
});
</script>

{% endif %}

<script>
$(document).ready(function() {
    $('.panel-div').hide();
    $('.panel-btn').click(function() {
        $('.panel-div').hide();
        $('#' + $(this).data('bind')).show();
    });
});
</script>
{{ render_template('components/command_console.html') }}
{% endblock %}
