{% macro head(id, title) %}
<div class='modal fade bs-example-modal-lg' id='{{ id }}' tabindex='-1' role='dialog' aria-labelledby='' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>{{ title }}</h4>
            </div>
            <div class='modal-body'>
{%- endmacro %}

{% macro tail() %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
