{% import 'blocks/modal.html' as modal %}

{{ modal.head('clusterAutoDiscover', '集群自动发现') }}
<span id='clusterDiscoverLoaderPlaceholder'></span>
<div class="panel panel-default">
  <table class='table' id='clusterDiscoverNodes' style='display: none'>
      <thead>
          <tr>
              <th data-localize='address'>地址</th>
              <th data-localize='role'>角色</th>
              <th></th>
          </tr>
      </thead>
      <tbody style='text-align: center'></tbody>
      <tfoot>
          <tr>
              <td colspan='3' id='clusterDiscoverControls'>
                  {{ button('注册这些节点并加入集群', id='discoverAutoAddNodes', lcl='commit-auto-discover') }}
              </td>
          </tr>
      </tfoot>
  </table>
</div>
{{ modal.tail() }}

<script>
$('#clusterAutoDiscover').on('show.bs.modal', function(event) {
    var pl = $('#clusterDiscoverLoaderPlaceholder');
    if (pl.length === 0) {
        return;
    }
    pl.text(_('正在载入集群信息') + '...');
    $.ajax({
        url: '/cluster/autodiscover',
        type: 'GET',
        data: {
            host: {{ host|tojson }},
            port: {{ port|tojson }}
        },
        success: function(r) {
            if (!r.cluster_discovered) {
                return pl.text(_('节点不在集群中'));
            }
            pl.remove();
            var tbody = $('#clusterDiscoverNodes').show().find('tbody');
            r.nodes.sort(sortNodeByAddr);
            $.each(r.nodes, function(i, e) {
                var row = $('<tr>'
                    ).append($('<td>').text(e.host + ':' + e.port)
                    ).append($('<td>').text(e.role == 'master' ? _('master') : _('slave'))
                    );
                if (e.known) {
                    row.append($('<td>').text(_('已注册')));
                } else {
                    row.addClass('row-unknown').append($('<td>').addClass('unknown-td'));
                    row.data('host', e.host).data('port', e.port);
                }
                tbody.append(row)
            });
            $('#discoverAutoAddNodes').click(function() {
                var btn = $(this);
                btn.attr('disabled', 'disabled');
                -function addNode(rows, index) {
                    if (rows.length === index) {
                        $.ajax({
                            url: '/cluster/autojoin',
                            type: 'POST',
                            data: {
                                host: {{ host|tojson }},
                                port: {{ port|tojson }}
                            },
                            success: function() {
                                window.location.reload();
                            },
                            error: function(r) {
                                console.error(r);
                                btn.text(_('失败') + ': ' + r.responseText);
                            }
                        });
                    }
                    var row = $(rows[index]);
                    $.post('/nodes/add', {
                        host: row.data('host'),
                        port: row.data('port')
                    }, function() {
                        row.removeClass('row-unknown');
                        row.find('.unknown-td').text(_('已注册'));
                        addNode(rows, index + 1);
                    });
                }($('.row-unknown'), 0);
            });
        },
        error: function(r) {
            console.error(r);
            pl.text(_('失败') + ': ');
            pl.append(r.responseJSON.reason);
        }
    });
});
</script>
