<table class='table' style='text-align: center'>
  <thead>
    <tr>
      <th data-localize='container-id'>Container ID</th>
      <th data-localize='image-version'>Image Version</th>
      <th data-localize='host-address'>Host Address</th>
      <th data-localize='creation'>Creation</th>
      <th data-localize='address'>Address</th>
      <th data-localize='cluster-mode'>Cluster mode</th>
      <th data-localize='ops'>Ops</th>
    </tr>
  </thead>
  <tbody id='eru-nodes'>
  {% for n in nodes %}
    <tr>
      <td>{{ n.eru_container_id[:16]|e }}</td>
      <td>{{ n.eru_info.version|e }}</td>
      <td>{{ n.eru_info.host|e }}</td>
      <td>{{ n.eru_info.created|e }}</td>
      <td><a href='/redis/panel/{{ n.host|e }}/{{ n.port }}'>{{ n.host|e }}:{{ n.port }}</a></td>
      <td>
          {% if n.detail %}
            {{ n.detail.cluster_enabled }}
          {% else %}
            -
          {% endif %}
      </td>
      <td>
        {% if n.assignee_id %}
        集群在役中
        {% else %}
        {{ button('Offline', color='danger', cls=['btn-del-container'], data={'type': 'node', 'cid': n.eru_container_id}, lcl='offline') }}
        {% endif %}
      </td>
    <tr>
  {% endfor %}
  </tbody>
</table>
