<div class='modal fade bs-example-modal-lg' id='nodeMemSetting' tabindex='-1' role='dialog' aria-labelledby='nodeMemSettingTitle' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='nodeMemSettingTitle'>节点最大内存设置</h4>
            </div>
            <div class='modal-body'>
                <div>
                    已使用内存: {{ used_mem / 1000000.0 }} MiB
                </div>
                <div>
                    <span id='max-mem-slide' style='display: inline-block; margin: 0 8px 0 8px; width: 100%;'></span>
                </div>
                <div>
                    <span id='max-mem-mbyte'>{{ max_mem / 1000000 }}</span> MiB
                    <small>(<span id='max-mem-byte'>{{ max_mem }}</span> B)</small>
                    <span class='label label-info'><span id='used-mem-rate'>{{ '%.2f' % (used_mem * 100 / max_mem) if max_mem != 0 else '-' }}</span>%</span>
                </div>
                <div>
                    <button class='btn btn-primary' id='max-mem-confirm'>确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('#max-mem-slide').slider({
    range: 'min',
    min: Math.max(Math.ceil({{ used_mem|tojson }} / 1000 / 1000), 100),
    max: {{ mem_limit|tojson }} / 1000 / 1000,
    value: Math.ceil({{ max_mem|tojson }} / 1000 / 1000),
    slide: function(event, ui) {
        $('#max-mem-mbyte').text(ui.value);
        $('#max-mem-byte').text(ui.value + ',000,000');
    },
    change: function(event, ui) {
        $(this).data('value', ui.value);
        $('#used-mem-rate').text(({{ used_mem|tojson }} / ui.value / 10000).toFixed(2));
    }
}).data('value', Math.ceil({{ max_mem|tojson }} / 1000 / 1000));

$('#max-mem-confirm').click(function() {
    $.ajax({
        url: '/nodes/set_max_mem',
        type: 'POST',
        data: {
            host: {{ host|tojson }},
            port: {{ port|tojson }},
            max_mem: $('#max-mem-slide').data('value') * 1000 * 1000
        },
        success: function() {
            window.location.reload();
        },
        error: function(r) {
            console.error(r);
        }
    });
});
</script>
