<tr class='alert-status-root {{ '' if node.suppress_alert else 'alert-enabled' }} {{ 'node-healthy' if node.stat else '' }} {{ '' if node.detail.slots_migrating else 'node-stable' }}'>
    {% set cluster = node.assignee %}
    {% set awaiting_polling = node.stat and not node.detail %}
    <td>
        <a id='node-i-{{ node.host|e }}-{{ node.port }}' href='/nodep/{{ node.host|e }}/{{ node.port}}'>{{ node.host|e }}:{{ node.port }}</a>
        {% if node.eru_deployed %}
        <span class='label label-info card-previewonly'><i class='fa fa-cube'></i></span>
        {% endif %}
    </td>
    <td>
        {% if node.stat %}
        {{ node.detail.used_memory_human }}
            {% if node.detail.maxmemory %}
            / {{ node.detail.maxmemory|filesizeformat }}
            <span class='label label-success'>{{ (node.detail.used_memory * 100 / node.detail.maxmemory)|round(2) }}%</span>
            {% else %}
            | <span class='label label-primary'>最大值未设置</span>
            {% endif %}
        {% else %}
        <p class='slave' style='text-align: center'>等待轮询</p>
        {% endif %}
    </td>
    <td>{{ (node.detail.get('sla', 0) * 100)|round(2) }}%</td>
    <td>
        {% if awaiting_polling %}
        <p class='slave' style='text-align: center'>等待轮询</p>
        {% else %}
            {% if node.stat %}
                {% if cluster is none %}
                <span class='label label-success'>就绪</span>
                {% else %}
                <span class='label label-primary'>在役</span>
                |
                <a href='#cluster-{{ cluster.id }}'>#{{ cluster.id }}</a>
                |
                {{ '从' if node.detail.slave else '主' }}
                {% endif %}
            {% else %}
                <span class='label label-danger'><i class='fa fa-exclamation-triangle'></i></span>
            {% endif %}

            {% if node.detail.slots_migrating %}
            <span class='label label-warning'>有槽位正在迁移</span>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if stats_enabled %}
        <a target='_blank' href='/stats/redis?host={{ node.host|e }}&port={{ node.port }}' class='btn'>状态历史 {{ icon('line-chart') }}</a>
        {% endif %}
        <button class='check-suppress-alert check-group check-group-danger {{ 'check-group-checked' if node.suppress_alert else '' }}' data-ntype='redis' data-host={{ node.host|tojson }} data-port='{{ node.port|tojson }}'>
        关闭报警
        </button>
        {% if node.detail.slots_migrating %}
        <button class='btn btn-warning fix-migrating-btn' data-host='{{ node.host|e }}' data-port='{{ node.port }}'>修复迁移状态</button>
        {% endif %}
    </td>
</tr>
