{% extends './base.html' %}

{% block title %}集群控制面板{% endblock %}

{% block head %}
<script src='/static/cluster_task.js'></script>
<script src='/static/redis_node.js'></script>
<style>
.cluster-proxy-quickinfo {
    float: left;
    min-width: 360px;
}
</style>
{% endblock %}

{% block body %}

<h1>基本设置</h1>
<table style='width: 100%' class='table'>
    <tr>
        <td class='label-cell'>集群 ID</td>
        <td>{{ cluster.id }}</td>
    </tr>
    <tr>
        <td class='label-cell'>集群描述</td>
        <td>
            <input id='cluster-descr-inp' value="{{ cluster.description|e }}">
            <button class='btn btn-primary' id='cluster-set-descr'>改</button>
        </td>
    </tr>
    <tr>
        <td class='label-cell'>代理数</td>
        <td>{{ cluster.proxies|length }}</td>
    </tr>
    <tr>
        <td class='label-cell'>节点数</td>
        <td>{{ cluster.nodes|length }}</td>
    </tr>
    <tr>
        <td class='label-cell'>操作</td>
        <td>
            <button class='btn btn-primary' id='cluster-fix-migrating'>修复槽位迁移</button>
            <button class='btn btn-primary' id='cluster-enable-all-nodes-alert'>打开所有节点的报警</button>
            <button class='btn btn-danger' id='cluster-suppress-all-nodes-alert'>关闭所有节点的报警</button>
            <button class='btn' data-toggle='modal' data-target='#clusterAutoDiscover'>集群自动发现</button>
        </td>
    </tr>
</table>

{{ render_template('components/node/autodiscover.html', host=cluster.nodes[0].host, port=cluster.nodes[0].port, max_mem=cluster.nodes[0].max_mem) }}

<script>
$('#cluster-set-descr').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled');
    $.ajax({
        url: '/cluster/set_info',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            descr: $('#cluster-descr-inp').val()
        },
        success: function() {
            btn.removeAttr('disabled');
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
});

$('#cluster-fix-migrating').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/recover_migrate',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }}
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
});

$('#cluster-enable-all-nodes-alert').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/suppress_all_nodes_alert',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            suppress: 0
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
})

$('#cluster-suppress-all-nodes-alert').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/suppress_all_nodes_alert',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            suppress: 1
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
})
</script>

<hr>

<h1>代理设置</h1>
<table class='table'>
    <thead>
        <tr>
            <th>地址</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody style='text-align: center'>
        {% for proxy in cluster.proxies %}
        <tr>
            <td>
                {{ proxy.host|e }}:{{ proxy.port }}
                {% if proxy.eru_deployed %}
                <i class='fa fa-cube'></i>
                {% endif %}
            </td>
            <td>
                <a target='_blank' href='/stats/proxy?host={{ proxy.host|e }}&port={{ proxy.port }}' class='btn'>状态历史 <i class='fa fa-external-link'></i></a>
                <button class='check-suppress-alert check-group check-group-danger {{ 'check-group-checked' if proxy.suppress_alert else '' }}' data-ntype='proxy' data-host={{ proxy.host|tojson }} data-port='{{ proxy.port|tojson }}'>
                    <span class='check-group-label'>关闭报警</span>
                </button>
                <button class='btn' data-toggle='modal' data-target='#commandConsole' data-host='{{ proxy.host|e }}' data-port='{{ proxy.port }}'>直接发送指令</button>
                <button class='btn btn-sync-remotes' data-host='{{ proxy.host|e }}' data-port='{{ proxy.port }}'>同步槽位映射</button>
                {% if proxy.eru_deployed %}
                <a href='/nodes/manage/eru#proxy-{{ proxy.host|e }}' class='btn'>去删除此代理并下线容器</a>
                {% else %}
                <button class='btn btn-danger delete-proxy-btn' data-host={{ proxy.host|tojson }} data-port='{{ proxy.port }}'>从监视面板移除此代理</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div style='clear: both'>
    <table style='margin: 1em; border-collapse: separate; border-spacing: 1em'>
        <tr>
            <td>注册新集群代理</td>
            <td>
                地址
                <br>
                <sup>如 127.0.0.1:8889</sup>
            </td>
            <td>
                <input id='new-proxy-addr'>
                <button class='btn btn-primary' id='new-proxy-btn'>注册代理</button>
                <span class='label label-danger' id='new-proxy-error' style='display: none'></span>
            </td>
        </tr>
    </table>
</div>

<script>
$('.btn-sync-remotes').click(function() {
    $.ajax({
        url: '/cluster/proxy_sync_remotes',
        type: 'POST',
        data: {
            host: $(this).data('host'),
            port: $(this).data('port')
        }
    });
});

$('#new-proxy-btn').click(function() {
    var addr = $('#new-proxy-addr').val();
    if (!addr) {
        return $('#new-proxy-error').show().text('请输入一个地址');
    }
    var host_port = addr.split(':');
    if (host_port.length != 2) {
        return $('#new-proxy-error').show().text('地址格式不正确');
    }

    var port = parseInt(host_port[1]);
    if (isNaN(port) || !host_port[0]) {
        return $('#new-proxy-error').show().text('地址格式不正确');
    }

    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/register_proxy',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            host: host_port[0],
            port: port
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
});
</script>

{{ render_template('components/command_console.html') }}
<h1>后台任务</h1>

{{ render_template('components/cluster/tasks.html', tasks=cluster.get_tasks()) }}

<a href='/cluster/tasks/list/{{ cluster.id }}'>查看更多任务</a>

<h1>节点</h1>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>地址</th>
            <th>内存</th>
            <th>角色</th>
            <th>槽位数量</th>
        </tr>
    </thead>
    <tbody style='text-align: center'>
    {% for n in cluster.nodes %}
        {% set detail = node_details.get((n.host, n.port), {}) %}
        <tr>
            <td>#{{ n.id }}</td>
            <td><a href='/nodep/{{ n.host|e }}/{{ n.port }}'>{{ n.host|e }}:{{ n.port }}</a></td>
            <td>
                {% if detail.mem %}
                {{ detail.mem.used_memory_human }} /
                {% endif %}
                {{ n.max_mem|filesizeformat }}
            </td>
            <td>{{ '从' if detail.slave else '主' }}</td>
            <td>{{ detail.slots|length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
