{% extends './base.html' %}

{% block title %}集群控制面板{% endblock %}

{% block head %}
<script src='/static/cluster_task.js'></script>
<style>
.cluster-proxy-quickinfo {
    float: left;
    min-width: 360px;
}
</style>
{% endblock %}

{% block body %}

<h1>基本设置</h1>
<table style='width: 100%' class='table'>
    <tr>
        <td class='label-cell'>集群 ID</td>
        <td>{{ cluster.id }}</td>
    </tr>
    <tr>
        <td class='label-cell'>集群描述</td>
        <td>
            <input id='cluster-descr-inp' value="{{ cluster.description|e }}">
            <button class='btn btn-primary' id='cluster-set-descr'>改</button>
        </td>
    </tr>
    <tr>
        <td class='label-cell'>代理数</td>
        <td>{{ cluster.proxies|length }}</td>
    </tr>
    <tr>
        <td class='label-cell'>节点数</td>
        <td>{{ cluster.nodes|length }}</td>
    </tr>
    <tr>
        <td class='label-cell'>操作</td>
        <td>
            <button class='btn btn-primary' id='cluster-fix-migrating'>修复槽位迁移</button>
            <button class='btn btn-primary' id='cluster-enable-all-nodes-alert'>打开所有节点的报警</button>
            <button class='btn btn-danger' id='cluster-suppress-all-nodes-alert'>关闭所有节点的报警</button>
        </td>
    </tr>
</table>

<script>
$('#cluster-set-descr').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled');
    $.ajax({
        url: '/cluster/set_info',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            descr: $('#cluster-descr-inp').val()
        },
        success: function() {
            btn.removeAttr('disabled');
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
});

$('#cluster-fix-migrating').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/recover_migrate',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }}
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
});

$('#cluster-enable-all-nodes-alert').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/suppress_all_nodes_alert',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            suppress: 0
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
})

$('#cluster-suppress-all-nodes-alert').click(function() {
    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/suppress_all_nodes_alert',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            suppress: 1
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
})
</script>

<hr>

<h1>代理设置</h1>
<div>
{% for p in cluster.proxies %}
    {{ p|render_proxy('quickinfo', showdelbtn=True) }}
{% endfor %}
</div>

<div style='clear: both'>
    <table style='margin: 1em; border-collapse: separate; border-spacing: 1em'>
        <tr>
            <td>注册新集群代理</td>
            <td>
                地址
                <br>
                <sup>如 127.0.0.1:8889</sup>
            </td>
            <td>
                <input id='new-proxy-addr'>
                <button class='btn btn-primary' id='new-proxy-btn'>注册代理</button>
                <span class='label label-danger' id='new-proxy-error' style='display: none'></span>
            </td>
        </tr>
    </table>
</div>

<script>
$('#new-proxy-btn').click(function() {
    var addr = $('#new-proxy-addr').val();
    if (!addr) {
        return $('#new-proxy-error').show().text('请输入一个地址');
    }
    var host_port = addr.split(':');
    if (host_port.length != 2) {
        return $('#new-proxy-error').show().text('地址格式不正确');
    }

    var port = parseInt(host_port[1]);
    if (isNaN(port) || !host_port[0]) {
        return $('#new-proxy-error').show().text('地址格式不正确');
    }

    var btn = $(this);
    btn.attr('disabled', 'disabled').text('请稍候');
    $.ajax({
        url: '/cluster/register_proxy',
        type: 'POST',
        data: {
            cluster_id: {{ cluster.id|tojson }},
            host: host_port[0],
            port: port
        },
        success: function() {
            window.location.reload();
        },
        error: function(e) {
            btn.text('失败: ' + e.responseText);
        }
    });
});
</script>

<h1>后台任务</h1>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>类型</th>
            {% set task_types = ['修复迁移状态', '迁移槽位', '扩容', '添加从节点', '缩容'] %}
            <th>创建时间</th>
            <th>执行状态</th>
            <th>详情</th>
        </tr>
    </thead>
    <tbody style='text-align: center'>
    {% for task in cluster.get_tasks() %}
        <tr>
            <td>#{{ task.id }}</td>
            <td>{{ task_types[task.task_type]|e }}</td>
            <td>{{ task.creation|strftime }}</td>
            <td>
            {% if task.completed %}
                {% if task.exec_error %}
                    <span class='label label-danger'>失败</span>
                {% else %}
                    <span class='label label-success'>完毕</span>
                {% endif %}
                {{ task.completion|strftime }}
            {% elif task.running %}
                <span class='label label-primary'>正在执行</span>
            {% else %}
                <span class='label label-info'>等待中</span>
            {% endif %}
            </td>
            <td>
                <button class='btn' data-toggle='modal' data-target='#taskDetail' data-taskid='{{ task.id }}'>查看详情</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class='modal fade bs-example-modal-lg' id='taskDetail' tabindex='-1' role='dialog' aria-labelledby='taskDetailTitle' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='taskDetailTitle'>任务 #<span id='taskDetailId'></span></h4>
            </div>
            <div class='modal-body'>
                <span id='taskDetailLoaderPlaceholder'>正在载入任务详情...</span>
                <div id='taskDetailContent'>
                    <table class='table'>
                        <caption>任务步骤 (共 <span id='taskDetailStepCount'></span> 项)</caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>命令</th>
                                <th>参数</th>
                                <th>开始时间</th>
                                <th>执行状态</th>
                            </tr>
                        </thead>
                        <tbody style='text-align: center' id='taskDetailSteps'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
