{% extends './base.html' %}

{% import './blocks/pager.html' as pager %}

{% block title %}All Tasks{% endblock %}

{% block head %}
<script src='/static/js/cluster_task.js'></script>
{% endblock %}

{% block body %}

{% block pagination %}
<nav>
  <div style='float: left'>
    {% call pager.pager(page) %}{% endcall %}
  </div>

  <div style='float: right'>
    <ul class="pager">
      <li>
        <a href='/prune/list_tasks'>
          {{ icon('trash-o') }}
          <span data-localize='prune'>Prune</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<hr style='visibility: hidden'>
{% endblock %}

{% autoescape false %}
    {{ render('components/cluster/tasks.html', tasks=tasks) }}
{% endautoescape %}

{{ self.pagination() }}

{% endblock %}
