{% extends './base.html' %}

{% block title %}集群后台任务{% endblock %}

{% block head %}
<script src='/static/js/cluster_task.js'></script>
{% endblock %}

{% block body %}

{% block pagination %}
<nav>
    <div class="pagination pagination-info">
    <ul>
        {% if page != 0 %}
        <li><a href='/cluster/tasks/list/{{ cluster.id }}' data-localize='home'> 首页</a></li>
        <li class='previous'><a href='/cluster/tasks/list/{{ cluster.id }}/{{ page - 1 }}' data-localize='previous-page'> 上一页</a></li>
        {% endif %}
        <li><a href='/clusterp/{{ cluster.id }}' data-localize='back-to-cluster-panel'>回到集群面板</a></li>
        <li class='next'><a href='/cluster/tasks/list/{{ cluster.id }}/{{ page + 1 }}' data-localize='next-page'>下一页 </a></li>
    </ul>
    </div>
</nav>
{% endblock %}

{{ render_template('components/cluster/tasks.html', tasks=cluster.get_tasks(page * 50, 50)) }}

{{ self.pagination() }}

{% endblock %}
