{% extends './base.html' %}

{% block title %}All Tasks{% endblock %}

{% block head %}
<script src='/static/js/cluster_task.js'></script>
{% endblock %}

{% block body %}

{% block pagination %}
<nav>
  <div class="pagination pagination-info">
    <ul>
        {% if page != 0 %}
        <li><a href='/task/list_all' data-localize='home'>首页</a></li>
        <li class='previous'><a href='?page={{ page - 1 }}' data-localize='previous'>上一页</a></li>
        {% endif %}
        <li class='next'><a href='?page={{ page + 1 }}' data-localize='next-page'>下一页</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% autoescape false %}
    {{ render('components/cluster/tasks.html', tasks=tasks) }}
{% endautoescape %}

{{ self.pagination() }}

{% endblock %}
