{% extends './base.html' %}

{% block title %}All Tasks{% endblock %}

{% block head %}
<script src='/static/js/cluster_task.js'></script>
{% endblock %}

{% block body %}

{% block pagination %}
<nav>
  <div class="pagination pagination-info" style='float: left'>
    <ul>
        {% if page != 0 %}
        <li><a href='?page=0' data-localize='first-page'>First page</a></li>
        <li class='previous'><a href='?page={{ page - 1 }}' data-localize='previous-page'>Previous page</a></li>
        {% endif %}
        <li class='next'><a href='?page={{ page + 1 }}' data-localize='next-page'>Next page</a></li>
    </ul>
  </div>

  <div class="pagination" style='float: right'>
    <ul>
        <li><a href='/prune/list_tasks' data-localize='prune'>Prune</a></li>
    </ul>
  </div>
</nav>
<hr style='visibility: hidden'>
{% endblock %}

{% autoescape false %}
    {{ render('components/cluster/tasks.html', tasks=tasks) }}
{% endautoescape %}

{{ self.pagination() }}

{% endblock %}
