{% extends './base.html' %}

{% block head %}
<script src='/static/js/containerize.js'></script>
{% endblock %}

{% block body %}

{% block pagination %}
<nav>
  <div class="pagination pagination-info">
  <ul>
    {% if page != 0 %}
    <li><a href='?page=0' data-localize='first-page'>First page</a></li>
    <li class='previous'><a href='?page={{ page - 1 }}' data-localize='pervious'>Previous page</a></li>
    {% endif %}
    <li class='next'><a href='?page={{ page + 1 }}' data-localize='next-page'>Next Page</a></li>
    <li><a href='/containerize/' data-localize='back-to-containerize-manage'>Back to Manage Page</a></li>
  </ul>
  </div>
</nav>
{% endblock %}

{% block table %}{% endblock %}

{{ self.pagination() }}

{% endblock %}
