{% extends './base.html' %}

{% block title %}Redis Ctl{% endblock %}

{% block head %}
<style>
.table { text-align: center; }
#nodes-area > tbody > tr:nth-child(2n+1) { background-color: #f0f0f0; }
.row-odd { background-color: #f0f0f0; }
.proxy-tab { border-left: 1px solid #ddd; }
.a { text-decoration: none; }
th { text-align: center; }
</style>
<script src='/static/js/cluster_task.js'></script>
<script src='/static/js/redis_node.js'></script>
{% endblock %}

{% block body %}
<div class="panel panel-success">
  <div class="panel-heading panel-heading-hide-content"><strong data-localize='clusters-info'>集群信息</strong></div>
  <table class='table'>
    <thead>
      <tr>
        <th>#</th>
        <th style='width: 320px;' data-localize='cluster-descr'>描述</th>
        <th data-localize='cluster-nodes-count'>节点数</th>
        <th colspan='5' data-localize='cluster-proxies'>代理</th>
        <th>SLA</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% autoescape false %}
        {% for cluster in clusters if cluster.nodes %}
            {{ render('components/cluster/row.html', cluster=cluster,
                      stats_enabled=stats_enabled, odd_row=loop.index % 2) }}
        {% endfor %}
    {% endautoescape %}
    </tbody>
  </table>
</div>
<div class="panel panel-success">
  <div class="panel-heading panel-heading-hide-content">
    <div class="row">
      <div class='col-xs-4' style="margin-top: 10px;">
        <strong data-localize='nodes-info'>节点信息</strong>
      </div>
      <div class='col-xs-4' style="float:right">
        <select class="select-primary" id="selectmenu">
          <option value='all' data-localize='opt-all-nodes'>All</option>
          <option value='error' data-localize='opt-error-only'>Unreachables</option>
          <option value='noalert' data-localize='opt-noalert-only'>Alarm disabled</option>
          <option value='migrating' data-localize='opt-migrating-only'>Migrating</option>
        </select>
      </div>
    </div>
  </div>
  <table id='nodes-area' class='table'>
    <thead>
      <tr>
        <th data-localize='node-addr'>节点</th>
        <th data-localize='node-memory-usage'>内存</th>
        <th>SLA</th>
        <th data-localize='node-cluster'>集群信息</th>
        <th data-localize='node-ops'>基本操作</th>
      </tr>
    </thead>
    <tbody>
    {% autoescape false %}
        {% for node in nodes %}
            {{ render('components/node/row.html', node=node, stats_enabled=stats_enabled) }}
        {% endfor %}
    {% endautoescape %}
    </tbody>
  </table>
</div>
<script>
$('select').select2({dropdownCssClass: 'dropdown-inverse'});
$(function() {
    $('#selectmenu').change(function() {
        var chooseValues = $('#selectmenu').val();
        switch (chooseValues) {
            case 'error':
                return  setDisplayClass('error-only');
            case 'noalert':
                return setDisplayClass('noalert-only');
            case 'migrating':
                return setDisplayClass('migrating-only');
            default:
                return clearDisplayClasses();
            }
    });
    function clearDisplayClasses() {
        return $('#nodes-area').removeClass('error-only').removeClass('noalert-only').removeClass('migrating-only');
    }
    function setDisplayClass(cls) {
        clearDisplayClasses().addClass(cls);
    }
});
</script>

{% endblock %}
