{% extends './base.html' %}
{% block title %}Redis 监视器{% endblock %}

{% block head %}
<style>
.table { text-align: center; }
.primary-tbl > tbody > tr:nth-child(2n+1) { background-color: #f0f0f0; }
.row-odd { background-color: #f0f0f0; }
.proxy-tab { border-left: 1px solid #ddd; }
</style>
<script src='/static/redis_node.js'></script>
{% endblock %}

{% block body %}
<h1>集群信息</h1>
<table class='table'>
    <thead>
        <tr>
            <th rowspan='2'>#</th>
            <th rowspan='2' style='width: 320px'>描述</th>
            <th rowspan='2'>节点数</th>
            <th colspan='5'>代理</th>
            <th>SLA</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for cluster in clusters if cluster.nodes %}
        {{ cluster|render_cluster('row', stats_enabled=stats_enabled, odd_row=loop.index % 2) }}
    {% endfor %}
    </tbody>
</table>

<h1 style='float: left'>节点信息</h1>
<span style='float: right; margin: 2em'>
    <select id='select-filter' data-select-style='select-embed'>
        <option value='all'>显示全部节点</option>
        <option value='error'>只显示出错节点</option>
        <option value='noalert'>只显示忽略报警的节点</option>
        <option value='migrating'>只显示有槽位正在迁移的节点</option>
    </select>
    <script>
    -function() {
        $('#select-filter').enableLabelSelect({
            width: '1em',
            listWidth: '15em',
            onChange: function(value) {
                switch (value) {
                    case 'error':
                        setDisplayClass('error-only');
                        return setFilterIcon('fa-exclamation-triangle');
                    case 'noalert':
                        setDisplayClass('noalert-only');
                        return setFilterIcon('fa-bell-slash');
                    case 'migrating':
                        setDisplayClass('migrating-only');
                        return setFilterIcon('fa-exchange');
                    default:
                        clearDisplayClasses();
                        return setFilterIcon('fa-eye');
                }
            }
        });
        var selectFilterLabel = $('#select-filter').parent().find('.select-styled');
        function setFilterIcon(cls) {
            selectFilterLabel.html('').append($('<i>').addClass('fa').addClass(cls));
        }
        setFilterIcon('fa-eye');
        function clearDisplayClasses() {
            return $('#nodes-area').removeClass('error-only').removeClass('noalert-only').removeClass('migrating-only');
        }
        function setDisplayClass(cls) {
            clearDisplayClasses().addClass(cls);
        }
    }();
    </script>
</span>

<table class='table primary-tbl'>
    <thead>
        <tr>
            <th>节点</th>
            <th>SLA</th>
            <th>集群信息</th>
            <th>基本操作</th>
        </tr>
    </thead>
    <tbody>
    {% for node in nodes %}
        {{ node|render_node('row', stats_enabled=stats_enabled) }}
    {% endfor %}
    </tbody>
</table>

<h1>注册节点</h1>
<table>
    <tr>
        <td>
            地址
        </td>
        <td>
            <input id='add-nodes-host'>
        </td>
    </tr>
    <tr>
        <td>
            端口 (范围)
            <br>
            <sup>如 6370 / 6000-6020</sup>
        </td>
        <td>
            <input id='add-nodes-port'>
        </td>
    </tr>
    <tr>
        <td>
            最大内存 (byte)
            <br>
            <sup>可写为 1024 / 16m / 1G</sup>
        </td>
        <td>
            <input id='add-nodes-mem'>
            =
            <span class='mem-parsed'>0</span>
            <span class='mem-error'></span>
        </td>
    </tr>
</table>
<button id='add-nodes' class='btn btn-primary'>注册这些节点</button><span id='add-node-info'></span>

<script>
bindMemoryTrans($('#add-nodes-mem').parent());

$('#add-nodes').click(function() {
    var mem = $('#add-nodes-mem').data('mem');
    var errorSpan = $('#add-node-info');
    if (isNaN(mem)) {
        return $('#add-nodes-mem').focus();
    }

    if ($('#add-nodes-host').val().length == 0) {
        return $('#add-nodes-host').focus();
    }

    var portBegin = NaN, portEnd = 0;
    var portRange = $('#add-nodes-port').val().split('-');
    if (portRange.length === 1) {
        portBegin = parseInt(portRange[0]);
        portEnd = portBegin + 1;
    } else if (portRange.length === 2) {
        portBegin = parseInt(portRange[0]);
        portEnd = parseInt(portRange[1]) + 1;
    }
    if (isNaN(portBegin) || isNaN(portEnd)) {
        $('#add-nodes-port').focus();
        return errorSpan.text('不正确的端口范围格式');
    }

    -function addNode(host, portBegin, portEnd, memory) {
        if (portBegin == portEnd) {
            return window.location.reload();
        }
        $.post('/nodes/add', {
            host: host,
            port: portBegin,
            mem: memory
        }, function() {
            addNode(host, portBegin + 1, portEnd, memory);
        });
        errorSpan.text('正在注册 :' + portBegin + '...');
    }($('#add-nodes-host').val(), portBegin, portEnd, mem);
});
</script>
{% endblock %}
