{% extends './base.html' %}

{% block title %}Pollings{% endblock %}

{% block body %}
<div class="panel panel-default">
  <table class='table' style='text-align: center'>
    <thead>
        <tr>
            <th>#</th>
            <th data-localize='time'>Time</th>
            <th data-localize='nodes-ok'>Healthy Redis</th>
            <th data-localize='nodes-fail'>Unreachable Redis</th>
            <th data-localize='proxies-ok'>Healthy Proxy</th>
            <th data-localize='proxies-fail'>Unreachable Proxy</th>
        </tr>
    </thead>
    <tbody>
    {% for p in pollings %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.polling_time|strftime }}</td>
            <td>{{ p.nodes_ok|length }}</td>
            <td>{{ p.nodes_fail|length }}</td>
            <td>{{ p.proxies_ok|length }}</td>
            <td>{{ p.proxies_fail|length }}</td>
        <tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% block prune %}
<div class='text-center'>
    <a class='btn btn-default' href='/prune/list_pollings' data-localize='prune'>Prune</a>
</div>
{% endblock %}

{% endblock %}
