{% extends './base.html' %}

{% block title %}轮询记录{% endblock %}

{% block body %}
<div class="panel panel-default">
  <table class='table' style='text-align: center'>
    <thead>
        <tr>
            <th>#</th>
            <th data-localize='time'>时间</th>
            <th data-localize='nodes-ok'>正常节点数</th>
            <th data-localize='nodes-fail'>失败节点数</th>
            <th data-localize='proxies-ok'>正常代理数</th>
            <th data-localize='proxies-fail'>失败代理数</th>
        </tr>
    </thead>
    <tbody>
    {% for p in pollings %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.polling_time|strftime }}</td>
            <td>{{ p.nodes_ok|length }}</td>
            <td>{{ p.nodes_fail|length }}</td>
            <td>{{ p.proxies_ok|length }}</td>
            <td>{{ p.proxies_fail|length }}</td>
        <tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
