{% extends './base.html' %}
{% block title %}请求数统计{% endblock %}
{% block head %}  
<style>
@font-face { 
    font-family: 'ds-digitalbold'; 
    src: url('/static/fonts/digital/ds-digib-webfont.woff'); 
} 

h1.jumbo{
    font-size: 17em;
    color:white;
    text-align:center;
    padding-bottom: 10px;
    font-family: 'ds-digitalbold'; 
    padding-top: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}
h5.jumbo{
    text-align: left;  
    color:white;
    margin-top: 0px;
    font-family: 'ds-digitalbold'; 
    padding-left: 110px;
}
.dowebok{
    float: right;
}
body>div.main-width{
    width: 100%;
    height: 100%;
    background-image: url("/static/picture/matrix.jpg");
    margin-top: -10px;
}
h3{
    margin-top: 0px;
    padding-left: 110px;
    padding-top: 80px;
    color: white;
    font-size: 6em;
}
h4{
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 110px;
    color: white;
    font-size: 3em;
}

</style>
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
<script src='/static/js/countUp.js'></script> 
{% endblock %}

{% block body %}
<h3>总请求数</h3>
<h1 class="jumbo" id="TotalNumber"></h1>
<h4>请求排行：</h4>
<h2 id='addfield'></h2>
<script>
$(function(){
    var startVal = 0;
   // startVal = Number(startVal.replace(',','').replace(' ',''));
    var endVal = 1;
   // endVal = Number(endVal.replace(',','').replace(' ',''));
    var decimals = 0,//小数点啦
        duration = 1,//增长速度
        prefix = "",//前方固定数
        suffix = "";//后方固定数
    options = {
        useEasing : true,   //速度
        useGrouping : true,   //分隔符
        separator : ",", //用什么分割
        decimal : 0,  //小数点后位数
        prefix: prefix,
        suffix: suffix
    }
    display_total = new CountUp("TotalNumber", startVal, endVal, decimals, duration, options);
    display_total.start();

    $.get('/stats/sequence',function(data){
        var s = [];
        for (var i = 0; i < data.length && i < 3; i++) {
            var h5 = $('<h5>').addClass('jumbo').css({'font-size': 5-i+'em','opacity': 1-0.3*(i+1),'padding-top': 20-i*10+'px'}).attr('id',i);
            $("#addfield").append(h5);
            var display = new CountUp(i.toString(), startVal, endVal, decimals, duration, options);
            s.push(display);
            display.start();
        }
        setInterval(function (){ 
            $.get('/stats/sequence',function(data){
                sum = eval(data.join('+'));
                var updateVal = sum;
                var num = updateVal ? updateVal : 0;
                display_total.update(num)

                sorted_data = data.sort(function(a, b){ return a < b ? 1: -1 })
                for (var k = 0; k < data.length && k < 3; k++){
                    if (k > i - 1){
                        location.reload();
                    }
                    var d_updateVal = data[k];
                    var d_num = d_updateVal ? d_updateVal : 0;
                    s[k].update(d_num);
                };
            });
        },5000);
    });
});
</script>
{% endblock %}
