{% extends './stats-base.html' %}
{% block title %}节点状态历史{% endblock %}

{% block body %}
<a href='/'>← 回到首页</a>
<hr>
<div>
    <div><p>CPU 状况</p><svg id='usages_cpu'></svg></div>
    <div><p>内存状况</p><svg id='usages_mem'></svg></div>
    <div><p>连接</p><svg id='connections'></svg></div>
    <div><p>存储</p><svg id='keys'></svg></div>
</div>
<script>
statistics({
    used_cpu_user: [],
    used_cpu_sys: [],

    used_memory_rss: [],

    connected_clients: [],

    evicted_keys: [],
    expired_keys: [],
    keyspace_hits: [],
    keyspace_misses: []
}, '/stats/fetch', {{ host|tojson }}, {{ port|tojson }}, [{
    selector: '#usages_cpu',
    fields: [
        {keyName: 'used_cpu_user', keyDisp: '用户态', color: '#0c0'},
        {keyName: 'used_cpu_sys', keyDisp: '内核态', color: 'navy'}
    ],
    yMapF: function(y) {return y * 100;},
    title: 'CPU (%)'
}, {
    selector: '#usages_mem',
    fields: [
        {keyName: 'used_memory_rss', keyDisp: 'RSS', color: 'navy'}
    ],
    yMapF: function(y) {return y / 1048576;},
    title: '内存 (MB)'
}, {
    selector: '#connections',
    fields: [
        {keyName: 'connected_clients', keyDisp: '客户端连接数', color: '#088'}
    ],
    yMapF: function(y) {return y;},
    title: '连接'
}, {
    selector: '#keys',
    fields: [
        {keyName: 'expired_keys', keyDisp: 'Expired keys', color: '#880'},
        {keyName: 'evicted_keys', keyDisp: 'Evicted keys', color: '#088'},
        {keyName: 'keyspace_hits', keyDisp: 'Keyspace hits', color: '#808'},
        {keyName: 'keyspace_misses', keyDisp: 'Keyspace misses', color: '#444'}
    ],
    yMapF: function(y) {return y;},
    title: '存储'
}]);
</script>
{% endblock %}
