{% extends './base.html' %}
{% block title %}请求数统计{% endblock %}
{% block head %}  
<style>
@font-face { 
    font-family: 'ds-digitalbold'; 
    src: url('/static/fonts/digital/ds-digib-webfont.woff'); 
} 

.jumbo{
    font-size: 17em;
    color:white;
    text-align:center;
    padding-bottom: 10px;
    font-family: 'ds-digitalbold'; 
    padding-top: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.dowebok{
    float: right;
}
body>div.main-width{
    width: 100%;
    height: 100%;
    background-image: url("/static/picture/matrix.jpg");
    margin-top: -10px;
}
h3{
    margin-top: 0px;
    padding-left: 110px;
    padding-top: 80px;
    color: white;
    font-size: 6em;
}
h4{
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 110px;
    color: white;
    font-size: 3em;
}

</style>
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
<script src='/static/js/countUp.min.js'></script> 
{% endblock %}

{% block body %}
<h3>总请求数</h3>
<h1 class="jumbo" id="myTargetElement"></h1>
<h4>请求排行：</h4>
<h5 class="jumbo" id="1st" style="
    font-size: 6em;
    text-align: left;  
    opacity:0.7;
    color:white;
    padding-left: 110px;
    font-family: 'ds-digitalbold'; 
    padding-top: 20px;
    margin-top: 0px;"
    ></h5>
<h5 class="jumbo" id="2nd" style="
    opacity:0.5;
    font-size: 5em;
    text-align: left;
    color:white;
    font-family: 'ds-digitalbold'; 
    padding-left: 110px;
    padding-top: 10px;
    margin-top: 0px;"
    ></h5>
<h5 class="jumbo" id="3rd" style="
    font-size: 4em;
    opacity:0.2;
    color:white;
    padding-left: 110px;
    text-align: left;
    font-family: 'ds-digitalbold'; 
    padding-top: 0px;
    margin-top: 0px;"
   ></h5>
<script>
$(function(){
    var startVal = 0;
   // startVal = Number(startVal.replace(',','').replace(' ',''));
    var endVal = 249000;
   // endVal = Number(endVal.replace(',','').replace(' ',''));
    var decimals = 0,//小数点啦
        duration = 1,//增长速度
        prefix = "",//前方固定数
        suffix = "";//后方固定数
    var useOnComplete = false;//计数结束后是否弹出提示框 
    options = {
        useEasing : true,   //速度
        useGrouping : true,   //分隔符
        separator : ",", //用什么分割
        decimal : 0,  //小数点后位数
        prefix: prefix,
        suffix: suffix
    }

    demo_total = new CountUp("myTargetElement", startVal, endVal, decimals, duration, options);
    demo_1st = new CountUp("1st", startVal, endVal, decimals, duration, options);
    demo_2nd = new CountUp("2nd", startVal, endVal, decimals, duration, options);
    demo_3rd = new CountUp("3rd", startVal, endVal, decimals, duration, options);

    if (useOnComplete) {
        demo_total.start(methodToCallOnComplete);
        demo_1st.start(methodToCallOnComplete);
        demo_2nd.start(methodToCallOnComplete);
        demo_3rd.start(methodToCallOnComplete);
    } else {
        demo_total.start();
        demo_1st.start();
        demo_2nd.start();
        demo_3rd.start();
    }
});
setInterval(function myInterval(){          
    $.get('/stats/stacalculate', function(r){
        var updateVal = r;
        var num = updateVal ? updateVal : 0;

        demo_total.update(num);
    });
    $.get('/stats/sequence',function(first){
        var f_updateVal = first[0][1];
        var f_num = f_updateVal ? f_updateVal : 0;
        var s_updateVal = first[1][1];
        var s_num = s_updateVal ? s_updateVal : 0;
        var t_updateVal = first[2][1];
        var t_num = t_updateVal ? t_updateVal : 0;
     
        demo_1st.update(f_num);
        demo_2nd.update(s_num);
        demo_3rd.update(t_num);
     });
},5000);
</script>
{% endblock %}
