{% import './blocks/modal.html' as modal %}

{{ modal.head('infoConsole', 'INFO') }}
<div class='form-horizontal form-submit' id='info-console-body'></div>
{{ modal.tail() }}

<script>
$(document).ready(function() {
    var modal = $('#infoConsole');
    var body = $('#info-console-body');

    function makeRow() {
        return $('<div>').addClass('form-group');
    }

    function makeLabel(size) {
        return makeCell(size).css('text-align', 'right');
    }

    function makeCell(size) {
        return $('<div>').addClass('col-xs-' + size);
    }

    function splitTotal(val) {
        return val.split(',').reduce(function(a, b) {
            return a + parseInt(b);
        }, 0);
    }

    var NODE_SPECIAL_DISPLAY = {
        connected_clients: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        used_memory: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        total_commands_processed: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        aof_enabled: function(val) {
            return $('<span>').addClass('label label-default').text(val === '0' ? _('disabled') : _('enabled'));
        },
        role: function(val) {
            return $('<span>').addClass('label label-default').text(val === 'master' ? _('master') : _('slave'));
        },
        cluster_enabled: function(val) {
            return $('<span>').addClass('label label-default').text(val === '1' ? _('enabled') : _('disabled'));
        }
    };

    var PROXY_SPECIAL_DISPLAY = {
        cluster_ok: function(val) {
            var ok = val !== '0';
            return $('<span>').addClass('label').addClass(ok ? 'label-success' : 'label-danger').text(ok ? 'OK' : 'E');
        },
        clients_count: function(val) {
            return $('<span>').text(splitTotal(val).toLocaleString());
        },
        long_connections_count: function(val) {
            return $('<span>').text(splitTotal(val).toLocaleString());
        },
        mem_buffer_alloc: function(val) {
            return $('<span>').text(splitTotal(val).toLocaleString());
        },
        completed_commands: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        remotes: function(val) {
            return val.split(',').map(function(e) {
                return $('<div>').text(e);
            });
        }
    };

    function showInfo(host, port, specialDisp) {
        cmdInfo(host, port, function() {}, function(r) {
            body.html('');
            $.each(r, function(_, e) {
                if (e.items.length === 0) {
                    return;
                }
                if (e.title) {
                    body.append(makeRow().append($('<label>').text(e.title)));
                }
                for (var i = 0; i < e.items.length; ++i) {
                    var item = e.items[i];
                    var row = makeRow().append(makeLabel(4).text(item.key));
                    var value = specialDisp[item.key] ? specialDisp[item.key](item.value) : item.value;
                    row.append(makeCell(8).append(value));
                    body.append(row);
                }
            });
            modal.modal('show');
        }, showError);
    }

    $('.info-btn').click(function() {
        var btn = $(this);
        showInfo(btn.data('host'), btn.data('port'),
                 btn.data('type') === 'node' ? NODE_SPECIAL_DISPLAY : PROXY_SPECIAL_DISPLAY);
    });
});
</script>

{{ modal.head('commandError', 'Error') }}
<div class='form-horizontal form-submit' id='command-error-body'></div>
{{ modal.tail() }}

<script>
function showError(e) {
    if (e.status === 400) {
        $('#command-error-body').text(_('failed') + ': ' + e.responseJSON.reason);
    } else if (e.status === 500) {
        $('#command-error-body').text(e.responseText);
    }
    $('#commandError').modal('show');
}
</script>
