{% import './blocks/modal.html' as modal %}

{{ modal.head('infoConsole', 'INFO') }}
<div class='form-horizontal form-submit' id='info-console-body'></div>
{{ modal.tail() }}

<script>
$(document).ready(function() {
    function execInfo(host, port, callback) {
        $.get('/cmd/info', {host: host, port: port}, function(r) {
            var lines = r.split('\n');
            var blocks = [{items: []}];
            for (var i = 0; i < lines.length; ++i) {
                var ln = lines[i].trim();
                if (!ln) {
                    continue;
                }
                if (ln[0] === '#') {
                    blocks.push({
                        title: ln.slice(1).trim(),
                        items: []
                    });
                    continue;
                }
                var k = ln.indexOf(':');
                if (-1 === k) {
                    continue;
                }
                blocks[blocks.length - 1].items.push({
                    key: ln.slice(0, k),
                    value: ln.slice(k + 1)
                });
            }
            callback(blocks);
        }).error(showError);
    }

    var modal = $('#infoConsole');
    var body = $('#info-console-body');

    function makeRow() {
        return $('<div>').addClass('form-group');
    }

    function makeLabel(size) {
        return makeCell(size).css('text-align', 'right');
    }

    function makeCell(size) {
        return $('<div>').addClass('col-xs-' + size);
    }

    function splitTotal(val) {
        return val.split(',').reduce(function(a, b) {
            return a + parseInt(b);
        }, 0);
    }

    var NODE_SPECIAL_DISPLAY = {
        connected_clients: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        used_memory: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        total_commands_processed: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        aof_enabled: function(val) {
            return $('<span>').addClass('label label-default').text(val === '0' ? _('disabled') : _('enabled'));
        },
        role: function(val) {
            return $('<span>').addClass('label label-default').text(val === 'master' ? _('master') : _('slave'));
        },
        cluster_enabled: function(val) {
            return $('<span>').addClass('label label-default').text(val === '1' ? _('enabled') : _('disabled'));
        }
    };

    var PROXY_SPECIAL_DISPLAY = {
        cluster_ok: function(val) {
            var ok = val !== '0';
            return $('<span>').addClass('label').addClass(ok ? 'label-success' : 'label-danger').text(ok ? 'OK' : 'E');
        },
        clients_count: function(val) {
            return $('<span>').text(splitTotal(val).toLocaleString());
        },
        long_connections_count: function(val) {
            return $('<span>').text(splitTotal(val).toLocaleString());
        },
        mem_buffer_alloc: function(val) {
            return $('<span>').text(splitTotal(val).toLocaleString());
        },
        completed_commands: function(val) {
            return $('<span>').text(parseInt(val).toLocaleString());
        },
        remotes: function(val) {
            return val.split(',').map(function(e) {
                return $('<div>').text(e);
            });
        }
    };

    function showInfo(host, port, specialDisp) {
        execInfo(host, port, function(r) {
            body.html('');
            $.each(r, function(_, e) {
                if (e.items.length === 0) {
                    return;
                }
                if (e.title) {
                    body.append(makeRow().append($('<label>').text(e.title)));
                }
                for (var i = 0; i < e.items.length; ++i) {
                    var item = e.items[i];
                    var row = makeRow().append(makeLabel(4).text(item.key));
                    var value = specialDisp[item.key] ? specialDisp[item.key](item.value) : item.value;
                    row.append(makeCell(8).append(value));
                    body.append(row);
                }
            });
            modal.modal('show');
        });
    }

    $('.info-btn').click(function() {
        var btn = $(this);
        showInfo(btn.data('host'), btn.data('port'),
                 btn.data('type') === 'node' ? NODE_SPECIAL_DISPLAY : PROXY_SPECIAL_DISPLAY);
    });

    function labelRole(role) {
        return role.split(',').map(function(e) {
            var lb = $('<span>').addClass('label');
            switch(e) {
            case 'myself':
                return lb.addClass('label-default').text('Myself');
            case 'master':
                return lb.addClass('label-primary').text(_('master'));
            case 'slave':
                return lb.addClass('label-info').text(_('slave'));
            case 'fail':
                return lb.addClass('label-danger').text('F');
            default:
                return lb.addClass('label-default').text(e);
            }
        });
    }

    $('.cluster-nodes-btn').click(function() {
        var btn = $(this);
        $.get('/cmd/cluster_nodes', {host: btn.data('host'), port: btn.data('port')}, function(r) {
            var lines = r.trim().split('\n').map(function(e) {
                return e.split(' ');
            }).sort(function(a, b) {
                if (a[1] > b[1]) {
                    return 1;
                }
                if (a[1] < b[1]) {
                    return -1;
                }
                return 0;
            });
            body.html('').append(makeRow()
                .append(makeCell(2).text(_('Node ID')))
                .append(makeCell(2).text(_('Address')))
                .append(makeCell(2).text(_('Role')))
                .append(makeCell(2).text(_('Master ID')))
                .append(makeCell(1).text(_('Status')))
                .append(makeCell(2).text(_('Slots')))
                );
            $.each(lines, function(_, e) {
                body.append(makeRow()
                        .append(makeCell(2).text(e[0].slice(0, 11)))
                        .append(makeCell(2).text(e[1]))
                        .append(makeCell(2).append(labelRole(e[2])))
                        .append(makeCell(2).text(e[3].slice(0, 11)))
                        .append(makeCell(1).text(e[7]))
                        .append(makeCell(3).append(e.slice(8).map(function(e) { return $('<div>').text(e) })))
                        );
            });
            modal.modal('show');
        }).error(showError);
    });
});
</script>

{{ modal.head('commandError', 'Error') }}
<div class='form-horizontal form-submit' id='command-error-body'></div>
{{ modal.tail() }}

<script>
function showError(e) {
    if (e.status === 400) {
        $('#command-error-body').text(_('failed') + ': ' + e.responseJSON.reason);
    } else if (e.status === 500) {
        $('#command-error-body').text(e.responseText);
    }
    $('#commandError').modal('show');
}
</script>
