{% extends 'components/grid-group.html' %}

{% block content %}
{% if addon %}
<div class='input-group'>
  <span class='input-group-addon'>{{ addon }}</span>
{% endif %}

<input type='text' class='form-control {{ ' '.join(cls) }}'
    {% if id %}id='{{ id }}'{% endif %}
    {% if readonly %}readonly='readonly'{% endif %}
    {% for k, v in data.iteritems() %}data-{{ k }}="{{ v }}"{% endfor %}
    value='{{ value|e }}' placeholder='{{ placeholder|e }}'>

{% if addon %}
</div>
{% endif %}
{% endblock %}
