{% extends './stats/base.html' %}
{% block title %}Proxy Status History{% endblock %}

{% block graph %}
<div>
    <div><p data-localize='connections'>Connections</p><svg id='connections'></svg></div>
    <div><p>CPU</p><svg id='usages_cpu'></svg></div>
    <div><p data-localize='node-memory-usage'>Memory Usage</p><svg id='usages_mem'></svg></div>
    <div><p data-localize='command-elapse'>Command Elapse</p><svg id='response_time'></svg></div>
</div>
<script>
statistics({
    mem_buffer_alloc: [],
    connected_clients: [],
    completed_commands: [],
    used_cpu_sys: [],
    used_cpu_user: [],
    command_elapse: [],
    remote_cost: []
}, '/stats/fetchproxy', {{ host|tojson }}, {{ port|tojson }}, [{
    selector: '#usages_mem',
    fields: [
        {keyName: 'mem_buffer_alloc', color: 'navy'}
    ],
    yMapF: function(y) {return y / 1024;},
    title: _('Memory') + ' (KB)'
}, {
    selector: '#usages_cpu',
    fields: [
        {keyName: 'used_cpu_user', color: '#0c0', deriv: true},
        {keyName: 'used_cpu_sys', color: 'navy', deriv: true}
    ],
    yMapF: function(y) {return y * 100;},
    title: _('CPU') + ' (%)'
}, {
    selector: '#connections',
    fields: [
        {keyName: 'connected_clients', color: '#088'},
        {keyName: 'completed_commands', color: '#e65', deriv: true}
    ],
    yMapF: function(y) {return y;},
    title: _('Connections')
}, {
    selector: '#response_time',
    fields: [
        {keyName: 'command_elapse', color: '#45c'},
        {keyName: 'remote_cost', color: '#4c5'}
    ],
    yMapF: function(y) {return y * 1000;},
    title: _('Command elapse') + ' (ms)'
}]);
</script>
{% endblock %}
