{% extends './stats/base.html' %}
{% block title %}Redis Status History{% endblock %}

{% block graph %}
<div>
    <div><p>CPU</p><svg id='usages_cpu'></svg></div>
    <div><p data-localize='node-memory-usage'>Memory Usage</p><svg id='usages_mem'></svg></div>
    <div><p data-localize='connections'>Connections</p><svg id='connections'></svg></div>
    <div><p data-localize='storage'>Storage</p><svg id='keys'></svg></div>
</div>
<script>
statistics({
    used_cpu_user: [],
    used_cpu_sys: [],

    used_memory: [],
    used_memory_rss: [],

    connected_clients: [],
    total_commands_processed: [],

    evicted_keys: [],
    expired_keys: [],
    keyspace_hits: [],
    keyspace_misses: [],
    keys: []
}, '/stats/fetchredis', {{ host|tojson }}, {{ port|tojson }}, [{
    selector: '#usages_cpu',
    fields: [
        {keyName: 'used_cpu_user', color: '#0c0', deriv: true},
        {keyName: 'used_cpu_sys', color: 'navy', deriv: true}
    ],
    yMapF: function(y) {return y * 100;},
    title: _('CPU') + ' (%)'
}, {
    selector: '#usages_mem',
    fields: [
        {keyName: 'used_memory', color: '#880'},
        {keyName: 'used_memory_rss', color: 'navy'}
    ],
    yMapF: function(y) {return y / 1048576;},
    title: _('Memory') + ' (MB)'
}, {
    selector: '#connections',
    fields: [
        {keyName: 'connected_clients', color: '#088'},
        {keyName: 'total_commands_processed', color: '#f66', deriv: true}
    ],
    yMapF: function(y) {return y;},
    title: _('Connections')
}, {
    selector: '#keys',
    fields: [
        {keyName: 'expired_keys', color: '#880'},
        {keyName: 'evicted_keys', color: 'red'},
        {keyName: 'keyspace_hits', color: '#268'},
        {keyName: 'keyspace_misses', color: '#444'},
        {keyName: 'keys', color: '#2c2'}
    ],
    yMapF: function(y) {return y;},
    title: _('Storage')
}]);
</script>
{% endblock %}
