{% extends './base.html' %}

{% import './blocks/pager.html' as pager %}

{% block title %}Audit{% endblock %}

{% block body %}

{% block pagination %}
<nav>
  <div style='float: left'>
    {% call pager.pager(page) %}{% endcall %}
  </div>

  <div style='float: right'>
    <ul class='pager'>
      <li>
        <a href='/prune/list_audit'>
          {{ icon('trash-o') }}
          <span data-localize='prune'>Prune</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<hr style='visibility: hidden'>
{% endblock %}

<table class='table table-striped text-center'>
    <thead>
        <tr>
            <th>#</th>
            <th>Address</th>
            <th>Deploy</th>
            <th>Type</th>
            <th>Args</th>
            <th>Time</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for e in events %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.host|e }}:{{ e.port }}</td>
            <td>{{ e.event_domain|e if e.event_domain else '-' }}</td>
            <td data-localize='event-type-{{ e.event_type }}'></td>
            <td>{{ e.args_json|e }}</td>
            <td>{{ e.creation|strftime }}</td>
            <td>
                {% autoescape false %}
                    {{ render_user(e.user_id) }}
                {% endautoescape %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ self.pagination() }}
{% endblock %}
